<a href="#"><img class="bottom_1" height="87" width="106" src="images/3/501.jpg" /></a>
		<a href="#"><img class="bottom_2"  height="87" width="110" src="images/3/502.jpg" /></a>
		<a href="#"><img class="bottom_3" height="87" width="109" src="images/3/503.jpg" /></a>
		<a href="#"><img class="bottom_3" height="87" width="62" src="images/3/504.jpg" /></a>
		<a href="#"><img class="bottom_3" height="87" width="94" src="images/3/505.jpg" /></a>
		<a href="#"><img class="bottom_3" height="87" width="104" src="images/3/506.jpg" /></a>
		<a href="#"><img class="bottom_3" height="87" width="102" src="images/3/507.jpg" /></a>
		<span class="bottom_4">Copyright&copy;2007-2009 WE54.COM INC. All RIGHTS RESEEVED.</span>
		<span class="bottom_5">大连方柏信息技术有限公司 版权所有</span>