<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>MODA美达|大连美女评选——大连新青年网</title>
<meta name="keywords" content="大连，大连新闻，大连论坛，大连资讯，大连滚子游戏，大连生活，五年四班，大连博客，大连话，大连图片，大连视频，大连交友，大连问吧，大连知道，大连人物，大连团购,大连旅游，大连餐饮，大连教育，大连房产，大连汽车，大连娱乐，大连购物，大连摄影，dalian，daliannews">
<meta name="description" content="大连新青年网是大连生活资讯信息最丰富的网络媒体，是大连本土化互动、娱乐网络平台。"/>
<script language="javascript" type="text/javascript" src="js/js.js"></script>
<link href="css/ccs.css" rel="stylesheet" type="text/css" />
<link href="css/huadongmen.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
function checkbox(obj){
	var o=obj.getElementsByTagName("input")[0];
	var   objs=document.getElementsByName( "poll_id[]") 
	var   j=0; 
	for(var   i=0;i <objs.length;i++){ 
		  if(objs[i].checked) 
			j++; 
	} 
	
	if(parseInt(j)> 9 && !o.checked) 	{ 
		  alert("选票不能超过10个");
		  return false;
	}

    
    if(o.checked==""||!o.checked){
        o.checked=true;
        o.parentNode.className="checkbox_checked";
    }else{
        o.checked=false;
        o.parentNode.className="checkbox"
    }
	
	
	
	
}
function radio(elem,obj){
    var oo=obj.getElementsByTagName("input")[0];
    if(oo.checked) oo.checked=false;
    else oo.checked=true;
    var o=(document.getElementsByName(elem));
    var n=o.length;
    for (var i=0;i<n;i++){
        var oo=o[i];
        if(oo.checked==""||!oo.checked){
            oo.parentNode.className="radioButton";
        }else{
            oo.parentNode.className="radioButton_checked";
        }
    }
}

function mysubmit(){
	//var o=obj.getElementsByTagName("input")[0];
	var   objs=document.getElementsByName( "poll_id[]") 
	var   j=0; 
	for(var   i=0;i <objs.length;i++){ 
		  if(objs[i].checked) 
			j++; 
	} 
	
	if(parseInt(j)> 10 ) 	{ 
		  alert("选票不能超过10个！选票必须为10名选手"+parseInt(j));
		  return false;
	}
	if(parseInt(j)< 10 ) 	{ 
		  alert("选票少于10个！选票必须为10名选手");
		  return false;
	}
	document.form1.submit();
}
</script>

</head>

<body>
<div id="MDBoxs">
	<div id="MDheader"><!--头部--><img src="images/md001.jpg" width="556" height="133" border="0" alt="MODA美达|大连美女评选" class="MDheaderA" /><a href="/" class="MDheaderB_1">返回首页</a><a href="http://cms.we54.com/dlgril/index.html" class="MDheaderB" target="_blank">活动介绍</a><a href="about.html" class="MDheaderC" target="_blank">关于美达</a><span></span></div>	
	
	<div id="MDAD"><!--广告滑动门-->
	<DL class="imgTab l">
	  <DT><A href="#" target=_blank><IMG class="borderOn" width="958" height="296" src="images/db87709c-11e7-455d-87d5-8d1c474387ab.jpg" name=slide></A></DT>
  <DD class="text r"><A id=textslide href="#"></A></DD>
  <DD class="imgNav">
  <A class="l font12" onfocus=this.blur() onclick=ove(0) href="javascript:void(0)"><IMG id=xiaosan1>1</A>
  <A class="l font12" onfocus=this.blur() onclick=ove(1) href="javascript:void(0)"><IMG id=xiaosan2>2</A>
  <A class="l font12" onfocus=this.blur() onclick=ove(2) href="javascript:void(0)"><IMG id=xiaosan3>3</A>
  <A class="l font12" onfocus=this.blur() onclick=ove(3) href="javascript:void(0)"><IMG id=xiaosan4>4</A>
  <A class="l font12" onfocus=this.blur() onclick=ove(4) href="javascript:void(0)"><IMG id=xiaosan5>5</A>
  <A class="l font12" onfocus=this.blur() onclick=ove(5) href="javascript:void(0)"><IMG id=xiaosan6>6</A>
  <A class="l font12" onfocus=this.blur() onclick=ove(6) href="javascript:void(0)"><IMG id=xiaosan7>7</A>
  <A class="l font12" onfocus=this.blur() onclick=ove(6) href="javascript:void(0)"><IMG id=xiaosan8>8</A>
  </DD></DL>
	  <?php $t	=	rand(1,22);?>
	  <script type=text/javascript>
		var slideimages=new Array();
		<?php 
			for($ii=0 ; $ii<7; $ii++){
				echo 'slideimages['.$ii.']="images/moda'.($t+$ii+1).'.jpg";';
			}			
		?>
			//slideimages[0]="images/moda1.jpg";
//			slideimages[1]="images/moda2.jpg";
//			slideimages[2]="images/moda3.jpg";
//			slideimages[3]="images/moda4.jpg";
//			slideimages[4]="images/moda5.jpg";
//			slideimages[5]="images/moda6.jpg";
//			slideimages[6]="images/moda7.jpg";
//			slideimages[7]="images/moda8.jpg";
		var slidetext=new Array();
			slidetext[0]='';
			slidetext[1]='';
			slidetext[2]='';
			slidetext[3]='';
			slidetext[4]='';	
			slidetext[5]='';
			slidetext[6]='';
			slidetext[7]='';
		var slidelinks=new Array();
			slidelinks[0]="#";
			slidelinks[1]="#";
			slidelinks[2]="#";
			slidelinks[3]="#";
			slidelinks[4]="#";
			slidelinks[5]="#";
			slidelinks[6]="#";
			slidelinks[7]="#";
		</script>
		<script src="js/adpics.js" type=text/javascript></script>
	</div>
	
	<div id="MDText">
	<?php 
	if($_SESSION["Zend_Auth"]['storage']->username!=''){
		echo "欢迎你，".$_SESSION["Zend_Auth"]['storage']->username."!  ";
		if($currentuser['groupid']>=3 and $currentuser['groupid']<=7){
			echo "积分达到初中生以上方可进行投票！";
		}
		if($currentuser['groupid']>=9 and $currentuser['groupid']<=31 and $currentuser['groupid']!=22){
			echo "积分达到初中生以上方可进行投票！";
		}
	}else{
		echo "您还没有登录，登录后才可投票！";
	}
	?>注释：本次活动每人限投10票</div>
	
	<div id="MDCont">
	<form id="form1" name="form1" method="post" action="">
		<img src="images/md002.jpg" width="139" height="43" border="0" />
		<ul>
		<?php foreach($rowset as $val){?>
			<li><a href="?Controller=Index&action=Content&id=<?php echo $val['poll_id'];?>" class="MDContZ" target="_blank"><img src="<?php echo $val['thumbimg'];?>" width="152" height="163" border="0" /></a>
				<span class="radioButton" onclick="checkbox(this)"><input type="checkbox" name="poll_id[]" value="<?php echo  $val['poll_id'];?>" />				
				<?php echo $val['title'];?></span>
				<span class="MDContA">
					<span class="MDContB" title="点击率"><?php echo $val['views'];?></span>
					<span class="MDContC" title="选手票数"><?php echo $val['votes'];?></span>
					<a href="?Controller=Index&action=Content&id=<?php echo $val['poll_id'];?>"  target="_blank"><img src="images/md004.jpg" width="18" height="12" border="0" class="MDContD" alt="观看视频" /></a>
					<a href="<?php echo $val['relateurl'];?>" target="_blank" ><img src="images/md005.jpg" width="15" height="12" border="0" class="MDContE" alt="美达展示" /></a>				</span>			
			</li>
		<?php }?>
			
		</ul>
		<div id="MDContJG">
			
		  <IMG id=safecode style="vertical-align:middle; margin:0 0 3px;" 
onclick="reloadcode()" src="?Controller=Index&action=AuthCode" border=0> 
<INPUT id=validate size=8 name=validate style=" width:77px; padding:0 0 0 3px; height:23px; line-height:23px; border:#000000 1px solid; vertical-align:middle; margin:0 0 3px;" value="输入验证码" onfocus="this.value=''"> 
		</div>
	      <div id="MDContJG"><input type="button" value="" class="MDContJGA" onClick="mysubmit();" /><input type="button"  onClick="location.href='?Controller=Index&action=Result'" class="MDContJGB" />
		  
		</div>
	  </form>
  </div>
		<div id="MDContBottom"><img src="images/md010.jpg" width="188" height="40" border="0" class="MDContBottomA" /><span>版权所有：大连方佰信息技术有限公司 www.we54.com  2009 copyright</span></div>
</div>
</body>
</html>
