<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312" />
<title>美达访谈-美达&middot;大连超级美女榜-大连新青年</title>
<meta name="keywords" content="大连，大连新闻，大连论坛，大连资讯，大连滚子游戏，大连生活，五年四班，大连博客，大连话，大连图片，大连视频，大连交友，大连问吧，大连知道，大连人物，大连团购,大连旅游，大连餐饮，大连教育，大连房产，大连汽车，大连娱乐，大连购物，大连摄影，美达美女，美女，美达，美女榜，美达美女榜，大连美女，moda，dalian，daliannews" /> 
<meta name="description" content="大连新青年网是大连生活资讯信息最丰富的网络媒体，是大连本土化互动、娱乐网络平台，美达美女榜，大连地区拥有广大受众的美女展示平台。"/> 
<link href="style/mdft.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="css/indexgeneral.css" type="text/css"/>
<script language="javascript" src="js/swfobject.js"></script>
<script language="javascript" src="js/viodedo.js"></script>
<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/indexpopup.js" type/"text/javascript"></script>
<script language="javascript" type="text/javascript" >
	$(document).ready(function() {
		$("#searchimg1").click(function (){
			window.location.href	=	"?Controller=ModaIndex&action=SearchModa&nickname="+$("#tc_j_b_b").val();	
		});
	});
</script>

<link href="two_styles/moda_reset.css" rel="stylesheet" type="text/css" />
<link href="two_styles/moda_header.css" rel="stylesheet" type="text/css" />
<link href="two_styles/moda_footer.css" rel="stylesheet" type="text/css" />

<style>
body{ background:none; font-family:"宋体"; font-size:12px;}
#cont{ width:978px; float:left; overflow:hidden;  background-position:-1px -1px; background-color:#29242b; border:#3d3e95 1px solid; border-top:none;}
</style>

</head>
<body>


<div id="full">


    <?php  require(APP_DIR . '/tow_view/header_page.html'); ?> 

	<div id="cont">
		<div id="cont_a">
			<div id="cont_a_a"></div>
			<div id="cont_a_b">
				<ul class="cont_a_b_a">
					<li class="cont_a_b_a_a"><img src="<? echo $news['url']?>" width="923" height="69" /></li>
						<li class="cont_a_b_a_b"><?php echo $news['news_content']?></li>
				</ul>
			</div>
				

		</div>
		
		
		<div id="cont_b">
			<div class="text"><?php echo $news['content'] ?></div>
		</div>
		
		
		<div id="cont_c">
			<ul class="cont_c_a">
			
				<?php foreach($allnews as $an){?>
				
				<li><a href="?controller=ModaIndex&action=ModaNews&id=<?php echo $an['news_id']?>"><?php echo $an['news_title'] ?></a><h4>-<?php echo $an['news_st']?></h4></li>
				
				
				<?php }?>
			</ul>
		</div>
	</div>
	
	
     
     

    <div id="battom">
    <?php  require(APP_DIR . '/tow_view/footer.html'); ?> 
    </div>
  
</div>
</body>
</html>
