<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312" />
<title>新青年-美达&middot;大连超级美女榜</title>
<meta name="keywords" content="大连，大连新闻，大连论坛，大连资讯，大连滚子游戏，大连生活，五年四班，大连博客，大连话，大连图片，大连视频，大连交友，大连问吧，大连知道，大连人物，大连团购,大连旅游，大连餐饮，大连教育，大连房产，大连汽车，大连娱乐，大连购物，大连摄影，美达美女，美女，美达，美女榜，美达美女榜，大连美女，moda，dalian，daliannews" /> 
<meta name="description" content="大连新青年网是大连生活资讯信息最丰富的网络媒体，是大连本土化互动、娱乐网络平台，美达美女榜，大连地区拥有广大受众的美女展示平台。"/> 


<link href="style/mdsy_thr.css" rel="stylesheet" type="text/css" />



<link rel="stylesheet" href="css/showGeneral.css" type="text/css" media="screen" />


<link rel="stylesheet" href="css/indexgeneral.css" type="text/css"/>

<script src="js/jquery-1.2.6.min.js" type="text/javascript"></script>
<script src="js/showPopup.js" type="text/javascript"></script>

<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/indexpopup.js" type/"text/javascript"></script>

<script language="javascript" type="text/javascript" >

	$(document).ready(function() {
		$(".c4_2").hover( 
		  function(){$(this).addClass("box_abb")}, 
		  function(){$(this).removeClass("box_abb")} 
		); 
		$(".c2_3").hover( 
		  function(){$(this).addClass("box_ab")}, 
		  function(){$(this).removeClass("box_ab")} 
		); 
		$(".c3_left_lidiv").hover( 
				  function(){$(this).addClass("box_ab")}, 
				  function(){$(this).removeClass("box_ab")} 
		); 
		
		$("#searchimg1").click(function (){
				window.location.href	=	"?Controller=ModaIndex&action=SearchModa&nickname="+$("#tc_j_b_b").val();	
		
		});
		
	});

</script>


<script language="JavaScript" src="js/jquery.js"></script>


<script text="text/javascript" src="js/jquery.timers-1.1.2.js"></script>
<script type="text/javascript" language="javascript"> 
$(document).ready(function(){ 	
	var t=false;
	var j=0; 
	$("#btn").find("span").each(function(i){
	$("#btn").find("span").eq(i).mouseover( 
	function(){	
	   var cur=$("#img").find("img:visible").parent().prevAll().length;
	
	   if(i!==cur){
	   j=i;
	
	   $(this).addClass("hov").siblings().removeClass("hov");
	
	   $("#img").find("img:visible").fadeOut(200,
		function(){
		 $("#img").find("img").eq(i).fadeIn(300,function(){

		  })    
		 }); 
	   }}  
	   ) 
	})
	var $func_play=function(){   
		$("#btn").find("span").eq(j).mouseover()
		j++;
		if(j==6){j=0;}  
	   }
	   t=setInterval($func_play,3000);
	   $("#imgnav").hover(function(){
		clearInterval(t);   
		return j;
		},function(){
		 t=setInterval($func_play,3000);
		 })
})

</script> 


<style>

#cont{ width:980px; height:2145px; float:left; overflow:hidden; margin-bottom:10px;}

#cont_a{ width:980px; height:373px; margin-bottom:0px; background:url(../images/mdsy_03.jpg) no-repeat left top; float:left; }
#cont_a_top{ width:980px; height:373px; float:left; background:url(../images/mdsy_04.jpg) no-repeat top;}
#cont_a_right{ width:978px; height:373px; float:left; background:url(../images/mdsy_05.jpg) no-repeat right; padding:1px 1px 0px 1px; position:relative;}
			
#img{ width:978px; height:360px; overflow:hidden; text-align:center; position:absolute; z-index:1;}		
#img img{  margin:auto; width:978px; height:360px;}	
	
.ctrl{  width:600px; height:22px; position:absolute; right:10px; bottom:23px; z-index:100; float:left;}
.ctrl ul{ float:left; line-height:22px; overflow:hidden; width:60%;filter: alpha(opacity=50);-moz-opacity:0.5;opacity: 0.5;}
.ctrl li{ display:block;height:22px; text-align:center; font-size:14px; font-weight:900;background:#000; color:#CCCCCC;}

.ctrl span{  width:21px; height:21px; line-height:23px; margin:0 3px; overflow:hidden; background:url(images/black.png) no-repeat 3px 3px; text-align:center; font-size:12px; color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; float:left; border:0px;}
.ctrl span.hov{width:21px; height:21px; line-height:23px; margin:0 3px; overflow:hidden; background:url(images/white.png) no-repeat; text-align:center; font-size:16px; color:#000000; font-family:Arial, Helvetica, sans-serif; font-weight:bold; float:left; border:0px; padding:0px;}

.ctrl div{ float:right; }
			

</style>





</head>

<body>


<div id="full">


<?php require(APP_DIR . '/showView/WidHeader.html'); ?>	

	
	

	<div id="cont">
	
	
		<div id="cont_a">
			<div id="cont_a_top">
				<div id="cont_a_right">
							<div id="img" >
									<a target="_blank" href="<?php echo $doorDat['img1_link']?>"><img style="display:block;" src="<?php echo $doorDat['img_1']?>" alt="" /></a>
									<a target="_blank" href="<?php echo $doorDat['img2_link']?>"><img src="<?php echo $doorDat['img_2']?>" style="display:none;" alt="" /></a>
									<a target="_blank" href="<?php echo $doorDat['img3_link']?>"><img src="<?php echo $doorDat['img_3']?>"  style="display:none;" alt="" /></a>
									<a target="_blank" href="<?php echo $doorDat['img4_link']?>"><img src="<?php echo $doorDat['img_4']?>"  style="display:none;" alt="" /></a>
									<a target="_blank" href="<?php echo $doorDat['img5_link']?>"><img src="<?php echo $doorDat['img_5']?>"  style="display:none;" alt="" /></a>
									<a target="_blank" href="<?php echo $doorDat['img6_link']?>"><img src="<?php echo $doorDat['img_6']?>"  style="display:none;" alt="" /></a>
							</div>  
							
							<div id="ctrl" class="ctrl" >
								<div id="btn">
									<span class="hov">1</span>
									<span>2</span>
									<span>3</span>
									<span>4</span>
									<span>5</span>
									<span>6</span>
								</div> 				  
							</div>
				
				</div>
			</div> 
		</div>
		<?php if($this->_CheckAdminRoot()){ ?>
			<div id="popAAA"><a  href="#" style="float:right; color:#FFFFFF">编辑滑动门</a></div>
		
		<?php }?>		
		<div id="cont_b">
			<div id="cont_b_l">
				<div id="cont_b_a"><a  href="#"><img src="images/mdsy_09.jpg" width="399" height="252" /></a></div>
				<div id="cont_b_b"><img src="images/mdsy_11.jpg" width="261" height="252" border="0" usemap="#Map" />
                    <map name="Map" id="Map">
                      <area shape="rect" coords="5,197,113,227" href="?Controller=Index3&action=Register" target="_blank" />
                      <area shape="rect" coords="129,196,259,229" href="http://bbs.we54.com/forumdisplay.php?fid=949" target="_blank" />
                    </map>
				</div>
				<div id="cont_b_c">
					<div id="cont_b_c_a"><a href="?Controller=ModaIndex&action=ModaLank">点击查看所有美达</a></div>
                    
				 	<div id="cont_b_c_b">
						<ul>
						<?php foreach($result2 as $r2){ $showDat = $tableModaShow->getShowByShowIdNoLimit($r2['show_id']); ?>

							<li>
								<span class="box_a"><a  target="_blank"href="?Controller=ShowIndex&action=ShowDetail&user_id=<?php echo $r2['user_id']?>&show_id=<?php echo $r2['show_id']?>"><img src="<?php echo $r2['head_img']?>" width="150" height="98" /></a></span>
									<span class="box_b"><?php echo $r2['title']?></span>
									<span class="box_c"><?php echo $showDat['views']?> <h4> 次浏览 / </h4><?php echo $showDat['discuss_count']?> <h4>次评论</h4></span>
							</li>
							
						<?php } ?>	
						</ul>
					</div>
					<div id="cont_b_c_c"><a href="?Controller=ModaIndex&action=ModaLank"></a></div>
				</div>
			</div>
			<div id="cont_b_r">
				<div id="cont_b_d">
					<div id="cont_b_d_a"></div>
					<div id="cont_b_d_b">
						<div id="cont_b_d_b_a"><a target="_blank" href="?controller=ModaIndex&action=ModaNews&id=<?php echo $news['news_id']?>"><img src="<?php echo $news['img_url']?>" width="118" height="88" /></a></div>
						<div id="cont_b_d_b_b">
							<span id="cont_b_d_b_b_a"><a target="_blank" href="?controller=ModaIndex&action=ModaNews&id=<?php echo $news['news_id']?>"><h5><?php echo $news['news_title']?></h5></a></span>
							<span id="cont_b_d_b_b_b"><?php echo $news['news_st']?></span>
							<span id="cont_b_d_b_b_c"><?php echo $news['news_content']?></span>
							<span id="cont_b_d_b_b_d">+ <a target="_blank" href="?controller=ModaIndex&action=ModaNews&id=<?php echo $news['news_id']?>"><h1>点击观看</h1></a>&nbsp;&nbsp;<h6><?php echo $news['created_on']?></h6></span>
						</div>
					</div>
					<div id="cont_b_d_c"></div>
					<div id="cont_b_d_d">
						<ul>
							<?php foreach($news1 as $n1){?>
						
							<li>
								<span class="cont_b_d_d_a"><a target="_blank" href="?controller=ModaIndex&action=ModaNews&id=<?php echo $n1['news_id']?>"><?php echo $n1['news_title']?></a>&nbsp;- <h3><?php echo $n1['news_st']?></h3></span>
								<span class="cont_b_d_d_c">+ <a target="_blank" href="?controller=ModaIndex&action=ModaNews&id=<?php echo $n1['news_id']?>"><h1>点击观看</h1></a>&nbsp;&nbsp;<h6><?php echo $n1['created_on']?></h6></span>
							</li>
							
							<?php }?>
						</ul>
					</div>
					<div id="cont_b_d_e">+ <a href="?controller=ModaIndex&action=AllNews"><h1>查看所有美达访谈</h1></a></div>
				</div>
				<div id="cont_b_e">
					<div id="cont_b_e_top">
						<div id="cont_b_e_right">
						
                        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="298" height="358">
                          <param name="movie" value="pengsheng_moda.swf" />
                          <param name="quality" value="high" />
                          <embed src="pengsheng_moda.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="298" height="358"></embed>
                        </object>						
						</a></div>
					</div>
				</div>
				<div id="cont_b_f"><a href="?Controller=Index3&action=haibian" target="_blank"><img src="images/mdsy_35.jpg" width="300" height="130" /></a></div>
			</div>
		</div>
		
		
		
		<div id="cont_c">
			<div id="cont_c_a"><a href="?Controller=ShowIndex&action=ModaShows">点击查看所有展示</a></div>
			<div id="cont_c_b">
				<ul>
					<?php foreach($showDatass as $data){?>

					<li>
						<span class="box_d"><a target="_blank" href="?Controller=ShowIndex&action=ShowDetail&user_id=<?php echo $data['user_id'];?>&show_id=<?php echo $data['show_id'];?>"><img src="<?php echo $data['show_img']?>" width="150" height="98" border="0" /></a></span>
						<span class="box_e"><a target="_blank" href="?Controller=ShowIndex&action=ShowDetail&user_id=<?php echo $data['user_id'];?>&show_id=<?php echo $data['show_id'];?>"><h4><?php echo $data['nickname']?>-<?php echo stripslashes($data['title'])?></h4></a></span>
						<span class="box_f"><?php echo $data['views']?> <h2>次浏览 <h4>/ </h4></h2><?php echo $data['discuss_count']?> <h2>评论</h2></span>
					</li>
					<?php }?>	
				</ul>
			</div>
			<div id="cont_c_c"><a href="?Controller=ShowIndex&action=ModaShows"></a></div>
		</div>
		
		
		
		<div id="cont_d">
			<div id="cont_d_a">
				<div id="cont_d_a_a"></div>
				<div id="cont_d_a_b">
					<ul>
						<?php foreach ($result as $val){ ?>
							<li><a target="_blank" href="?controller=ModaIndex&action=Person&id=<?php echo $val['user_id']?>"><img src="<?php echo $val['head_img']?>" width="50" height="50" /></a></li>
						<?php }?>
					</ul>
				</div>
				<div id="cont_d_a_c">
					<span id="cont_d_a_c_a"><a target="_blank" href="?Controller=Index3&action=Register" target="_blank"><img src="images/mdsy_31.gif" width="129" height="40" /></a></span>
					<span id="cont_d_a_c_b">
						
					</span>
				</div>
				<div id="cont_d_a_d">+ <a target="_blank" href="?Controller=ShowIndex&action=ModaHelp"><h1>申请加入美达会员流程图</h1></a></div>
			</div>
			<div id="cont_d_b">
				<div id="cont_d_b_a"></div>
				<div id="cont_d_b_b">
					<ul>
						<?php foreach($clubDa as $data){?>
					
					
						<?php if($data['groupid']!=4){ ?>
							<li>
                            <?php if($data['uid'] == -1){?>
                                [<a target="_blank" class="title_a" href="?Controller=ShowIndex&action=ModaClub&user_id=<?php echo $data['uid']?>"><h1>综合贴吧区</h1></a>] 
                            <?php }else{?>
                                [<a target="_blank" class="title_a" href="?Controller=ShowIndex&action=ModaClub&user_id=<?php echo $data['uid']?>"><h1><?php echo $data['nickname']?>吧</h1></a>] 
                            <?php }?>
							<a  target="_blank"class="title_b" href="?controller=ShowIndex&action=ModaClubCall&user_id=<?php echo $data['uid']?>&club_id=<?php echo $data['club_id']?>">
							<?php echo $this->cut_str(stripslashes($data['title']),10);?>
							</a>
							<?php echo substr($data['dateline'],0,10);?>
							</li>
						<?php }else{?>	
							
						<?php }}?>	
					</ul>
				</div>
				<div id="cont_d_b_c">+ <a href="?controller=ModaIndex&action=ModaTB"><h1>点击进入美达贴吧</h1></a></div>
			</div>

			
			<div id="cont_d_c"><a href="?controller=ModaIndex&action=ModaEventList"><img src="<?php echo $modaEvent['home_img']?>" /></a></div>
		</div>
	</div>


<?php  require(APP_DIR . '/showView/Widbottom.html'); ?> 
  
</div>

<div id="popupContactAAA" style=" background-color:#FF99FF">	

        <p id="contactArea">  
		
					<form id="formdoor" name="formdoor" method="post" action="?Controller=ModaIndex&action=ModaDoor" enctype="multipart/form-data" >
					
					<input type="hidden" id="status" name="status" value="2" />
					<input type="hidden" id="user_id" name="user_id" value="-1" />
					<!--<input type="hidden" name="show_id" id="show_id" value="<?php echo $show_id ;?>"  />			-->		
						<div id="tc_a">
							<div id="tc_a_a">
							1号图<input type="file" id="img_1" name="img_1" />链接<input type="text" id="img1_link" name="img1_link"  />
							</div>
							<div id="tc_a_a">
							2号图<input type="file" id="img_2" name="img_2" />链接<input type="text" id="img2_link" name="img2_link"  />
							</div>
							<div id="tc_a_b">
							3号图<input type="file" id="img_3" name="img_3" />链接<input type="text" id="img3_link" name="img3_link"  />
							</div>
							<div id="tc_a_b">
							4号图<input type="file" id="img_4" name="img_4" />链接<input type="text" id="img4_link" name="img4_link"  />
							</div>
							
							<div id="tc_a_c">
								
								5号图<input type="file" id="img_5" name="img_5" />链接<input type="text" id="img5_link" name="img5_link"  />
							</div>
							<div id="tc_a_c">
								
								6号图<input type="file" id="img_6" name="img_6" />链接<input type="text" id="img6_link" name="img6_link"  />
							</div>
							
							
							<div id="tc_a_d">
							
							</div>
							<div id="tc_a_e">
							<input type="submit"  value="提交"></div>
						</div>						

						
					</form>	
				
 		 </p>  
</div> 	
</div>
<div id="backgroundPopup"></div> 

</body>
</html>
