<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312" />

<title>美达活动-美达&middot;大连超级美女榜-大连新青年</title>
<meta name="keywords" content="大连，大连新闻，大连论坛，大连资讯，大连滚子游戏，大连生活，五年四班，大连博客，大连话，大连图片，大连视频，大连交友，大连问吧，大连知道，大连人物，大连团购,大连旅游，大连餐饮，大连教育，大连房产，大连汽车，大连娱乐，大连购物，大连摄影，美达美女，美女，美达，美女榜，美达美女榜，大连美女，moda，dalian，daliannews" /> 
<meta name="description" content="大连新青年网是大连生活资讯信息最丰富的网络媒体，是大连本土化互动、娱乐网络平台，美达美女榜，大连地区拥有广大受众的美女展示平台。"/> 


<link href="style/mdhd.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="css/indexgeneral.css" type="text/css"/>
<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/indexpopup.js" type/"text/javascript"></script>

<link href="two_styles/moda_reset.css" rel="stylesheet" type="text/css" />
<link href="two_styles/moda_header.css" rel="stylesheet" type="text/css" />
<link href="two_styles/moda_footer.css" rel="stylesheet" type="text/css" />

<style>
body{ background:none; font-family:"宋体"; font-size:12px;}
#cont{ width:978px; float:left; overflow:hidden;  background-position:-1px -1px; background-color:#29242b; border:#3d3e95 1px solid; border-top:none;}
</style>


</head>
<body>


<div id="full">


    <?php  require(APP_DIR . '/tow_view/header_page.html'); ?> 
	
	<style>
		#cont_a{ width:978px; height:98px; float:left;}
		#cont_c{ width:978px; height:166px; float:left;}
		.event_{ float:right; margin-top:60px; margin-right:80px;}
	</style>
	
	<div id="cont">
		<div id="cont_a">
        		<a href="?Controller=ShowIndex&action=ShowEventDiscuss&event_id=<?php echo $modaEvent['event_id']?>" target="_blank" class="event_"><img src="images/eventdis.gif" width="119" height="28" /></a>
        </div>
		<div id="cont_c"><img src="<?php echo $modaEvent['header_img']?>" /></div>
		<div id="cont_b">
			<ul>
		
				<li><?php echo $modaEvent['content']?></li>
				
			</ul>
		</div>
	</div>
	
     
     

    <?php  require(APP_DIR . '/tow_view/footer.html'); ?> 
  
</div>
</body>
</html>
