<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>MODA美达|MODA|美达|大连美女榜|大连美女</title>

<meta name="keywords" content="大连，大连新闻，大连论坛，大连资讯，大连滚子游戏，大连生活，五年四班，大连博客，大连话，大连图片，大连视频，大连交友，大连问吧，大连知道，大连人物，大连团购,大连旅游，大连餐饮，大连教育，大连房产，大连汽车，大连娱乐，大连购物，大连摄影，美达美女，美女，美达，美女榜，美达美女榜，大连美女，moda，dalian，daliannews" /> 
<meta name="description" content="大连新青年网是大连生活资讯信息最丰富的网络媒体，是大连本土化互动、娱乐网络平台，美达美女榜，大连地区拥有广大受众的美女展示平台。"/> 


<link href="css/css3.css" rel="stylesheet" type="text/css" />
<link href="css/datePicker.css" rel="stylesheet" type="text/css" />
	<!--日历-->
	<script type="text/javascript" src="js/jquery.js"></script>

	<!-- required plugins -->
	<script type="text/javascript" src="js/date.js"></script>
	<!--[if IE]><script type="text/javascript" src="/scripts/jquery.bgiframe.js"></script><![endif]-->

	<!-- jquery.datePicker.js -->
	<script type="text/javascript" src="js/jquery.datePicker.js"></script>
	
	<script type="text/javascript" charset="utf-8">
            Date.format = 'yyyy-mm-dd';

            $(function()
            {
				$('#bdate').attr("readonly", true);
				$('#bdate').datePicker({startDate:'1908-01-01'});
            });
	</script>
	
	<style>
	/* located in demo.css and creates a little calendar icon
	 * instead of a text link for "Choose date"
	 */
	a.dp-choose-date {
		float: left;
		width: 16px;
		height: 16px;
		padding: 0;
		margin: 5px 3px 0;
		display: block;
		text-indent: -2000px;
		overflow: hidden;
		background: url(/images/calendar.png) no-repeat; 
	}
	a.dp-choose-date.dp-disabled {
	background-position: 0 -20px;
	cursor: default;
	}
	
	</style>

<script type="text/javascript">
function checkbox(obj){
    var o=obj.getElementsByTagName("input")[0];
    if(o.checked==""||!o.checked){
        o.checked=true;
        o.parentNode.className="checkbox_checked";
    }else{
        o.checked=false;
        o.parentNode.className="checkbox"
    }
}
function radio(elem,obj){
    var oo=obj.getElementsByTagName("input")[0];
    if(oo.checked) oo.checked=false;
    else oo.checked=true;
    var o=(document.getElementsByName(elem));
    var n=o.length;
    for (var i=0;i<n;i++){
        var oo=o[i];
        if(oo.checked==""||!oo.checked){
            oo.parentNode.className="radioButton";
        }else{
            oo.parentNode.className="radioButton_checked";
        }
    }
}
</script>
<script language="javascript">
	function registerck(){
		//return true;
	//	var username = document.form1.username.value;
//		var password = document.form1.password.value;
		var truename = document.form1.truename.value;
		var bdate = document.form1.bdate.value;
		var height = document.form1.height.value;
		var weight = document.form1.weight.value;
		
		var mobile = document.form1.mobile.value;
		var partten = /^1[3,5,8]\d{9}$/;
		var homephone=/^\d{1,11}$/;
		
		var qq = document.form1.qq.value;
		var regqq=/^[0-9]{1,20}$/;
		
		var file1 = document.form1.file1.value;
		var file2 = document.form1.file2.value;
		var file3 = document.form1.file3.value;
		var file4 = document.form1.file4.value;
		//if(username!=""){
//			if(password != ""){
				if(truename !=""){
					document.getElementById("truename1111").innerHTML	="";
					if(bdate !=""){
						document.getElementById("bdate1111").innerHTML	="";
						if(height>119 && height<256||height==""){	
							document.getElementById("height1111").innerHTML	="";
							
							if(weight>29 && weight<111||weight==""){
								document.getElementById("weight1111").innerHTML	="";
								if(partten.test(mobile)|| homephone.test(mobile)){
									document.getElementById("mobile1111").innerHTML	="";
									if(regqq.test(qq)||qq==""){
										document.getElementById("qq1111").innerHTML	="";
										if(file1 !=""){
											document.getElementById("file1111").innerHTML	='';
											if(file2 !=""){
												document.getElementById("file2222").innerHTML	='';
												if(file3 !=""){
													document.getElementById("file3333").innerHTML	='';
													if(file4 !=""){
													
														document.getElementById("file4444").innerHTML	='';
															return true;
														//registercksbmint();
														
													}else{
														document.getElementById("file4444").innerHTML	="请上传张图片";
													}
												}else{
													document.getElementById("file3333").innerHTML	="请上传张图片";
												}
											}else{
												document.getElementById("file2222").innerHTML	="请上传张图片";
											}
										//document.form1.submit();
										}else{
											document.getElementById("file1111").innerHTML	="请上传张图片";
											//alert("请上传4张图片");
										
										}
									}else{
										document.getElementById("qq1111").innerHTML	="请输入数字qq";
										//alert('请输入数字qq');
									}
								
								}else{
									document.getElementById("mobile1111").innerHTML	="电话号填写错误或未填";
									//alert('电话号填写错误');
								}
							
							}else{
								document.getElementById("weight1111").innerHTML	="体重填写范围在30kg-110kg之间";
								//alert('体重填写范围在30-110之间');
							}
							
						}else{
							document.getElementById("height1111").innerHTML	= '身高填写范围在120cm-255cm之间';
							//alert('身高填写范围在150-255之间');
						
						}
						
					}else{
						document.getElementById("bdate1111").innerHTML	= '请输入日期';
						//alert('请选择日期');
					}
					
				}else{
					//var truename	=	document.getElementById("truename");
					//alert(truename);
					document.getElementById("truename1111").innerHTML	=	'请输入真实姓名';	
					//alert('请输入真实姓名');
				}
				
	//		}else{
//			
//				alert('请输入密码');
//			}
//		
//		}else{
//			alert('请输入用户名');
//		
//		}
	
	}	
	function registercksbmint(){
		registerck();
		
		if(ImgUploadCheck() && ImgUploadCheck2() && ImgUploadCheck3() && ImgUploadCheck4()){
		
		document.form1.submit();
		}
	}

</script>

<script language="javascript">

//function testLeaguelogo()
//{
//	
//		if (window.ActiveXObject) { 
//		
//				var img=document.form1.file1.value;
//				
//					
//				var point = img.lastIndexOf(".");
//				
//				var type = img.substr(point);
//	
//				if(type==".jpg"||type==".gif"||type==".JPG"||type==".GIF")
//				{			
//						
//						return true;
//						
//				}
//				else
//				{
//					document.getElementById("file1111").innerHTML	='只能输入jpg或者gif格式的图片';
//				  //alert("只能输入jpg或者gif格式的图片");
//				   return false;
//				}
//			return true;
//			}
//
//}  

//function testLeaguelogo2()
//{
//	
//		if (window.ActiveXObject) { 
//		
//				var img=document.form1.file2.value;
//				
//					
//				var point = img.lastIndexOf(".");
//				
//				var type = img.substr(point);
//	
//				if(type==".jpg"||type==".gif"||type==".JPG"||type==".GIF")
//				{			
//						
//						
//						
//				}
//				else
//				{
//					document.getElementById("file2222").innerHTML	='只能输入jpg或者gif格式的图片';
//				  //alert("只能输入jpg或者gif格式的图片");
//				   return false;
//				}
//			return true;
//			}
//
//}  

//function testLeaguelogo3()
//{
//	
//		if (window.ActiveXObject) { 
//		
//				var img=document.form1.file3.value;
//				
//					
//				var point = img.lastIndexOf(".");
//				
//				var type = img.substr(point);
//	
//				if(type==".jpg"||type==".gif"||type==".JPG"||type==".GIF")
//				{			
//						
//						
//						
//				}
//				else
//				{
//					document.getElementById("file3333").innerHTML	='只能输入jpg或者gif格式的图片';
//				  //alert("只能输入jpg或者gif格式的图片");
//				   return false;
//				}
//			return true;
//			}
//
//}  
//
//function testLeaguelogo4()
//{
//	
//		if (window.ActiveXObject) { 
//				
//				
//		
//		
//				var img=document.form1.file4.value;			
//				
//				
//				var point = img.lastIndexOf(".");
//				
//				var type = img.substr(point);
//	
//				if(type==".jpg"||type==".gif"||type==".JPG"||type==".GIF")
//				{			
//						
//						
//						
//				}
//				else
//				{
//					document.getElementById("file4444").innerHTML	='只能输入jpg或者gif格式的图片';
//				  //alert("只能输入jpg或者gif格式的图片");
//				   return false;
//				}
//			return true;
//			}
//
//}  



function ImgUploadCheck()
{

//正确判断大小
			var obj = document.getElementById("file1");
			var oImg=new Image();
			//var iFlag=false;
			oImg.onload=function()
			{
			  //if(!iFlag)
			 //{
			  //iFlag=true;
			  	if(oImg.fileSize>1048576){
					//alert('ddddd');
			  		document.getElementById("file1111").innerHTML	='只能上传小于1MB图片';
					obj.outerHTML=obj.outerHTML;
					
				}else{
					document.getElementById("file1111").innerHTML	='';
					
				}
			 	//}
			}
			oImg.src=document.form1.img1.value;

//111		
			

			
				
			var point = oImg.src.lastIndexOf(".");
			var type = oImg.src.substr(point);
			if(type==".jpg"||type==".gif"||type==".JPG"||type==".GIF")
			{			
				//document.getElementById("file1111").innerHTML	='';
				
				
				
						
			}
			else
			{
					document.getElementById("file1111").innerHTML	='只能输入jpg或者gif格式的图片';
				   //alert("只能输入jpg或者gif格式的图片");			 
					return false;
			}	
			
			return true;

}

			



//
function ImgUploadCheck2()
{
			//正确判断大小
			var obj = document.getElementById("file2");
			var oImg=new Image();
			//var iFlag=false;
			oImg.onload=function()
			{
			  //if(!iFlag)
			 //{
			  //iFlag=true;
			  	if(oImg.fileSize>1048576){
					//alert('ddddd');
			  		document.getElementById("file2222").innerHTML	='只能上传小于1MB图片';
					obj.outerHTML=obj.outerHTML;
					
				}else{
					document.getElementById("file2222").innerHTML	='';
					
				}
			 	//}
			}
			oImg.src=document.form1.img2.value;

//111		
			

			
				
			var point = oImg.src.lastIndexOf(".");
			var type = oImg.src.substr(point);
			if(type==".jpg"||type==".gif"||type==".JPG"||type==".GIF")
			{			
	
				
						
			}
			else
			{
					document.getElementById("file2222").innerHTML	='只能输入jpg或者gif格式的图片';
				   //alert("只能输入jpg或者gif格式的图片");			 
					return false;
			}	
			return true;

}
//
function ImgUploadCheck3()
{
			//正确判断大小
			var obj = document.getElementById("file3");
			var oImg=new Image();
			//var iFlag=false;
			oImg.onload=function()
			{
			  //if(!iFlag)
			 //{
			  //iFlag=true;
			  	if(oImg.fileSize>1048576){
					//alert('ddddd');
			  		document.getElementById("file3333").innerHTML	='只能上传小于1MB图片';
					obj.outerHTML=obj.outerHTML;
					
				}else{
					document.getElementById("file3333").innerHTML	='';
					
				}
			 	//}
			}
			oImg.src=document.form1.img3.value;

//111		
			

			
				
			var point = oImg.src.lastIndexOf(".");
			var type = oImg.src.substr(point);
			if(type==".jpg"||type==".gif"||type==".JPG"||type==".GIF")
			{			
	
				
						
			}
			else
			{
					document.getElementById("file3333").innerHTML	='只能输入jpg或者gif格式的图片';
				   //alert("只能输入jpg或者gif格式的图片");			 
					return false;
			}	
			return true;

}
//
function ImgUploadCheck4()
{
			//正确判断大小
			var obj = document.getElementById("file4");
			var oImg=new Image();
			//var iFlag=false;
			oImg.onload=function()
			{
			  //if(!iFlag)
			 //{
			  //iFlag=true;
			  	if(oImg.fileSize>1048576){
					//alert('ddddd');
			  		document.getElementById("file4444").innerHTML	='只能上传小于1MB图片';
					obj.outerHTML=obj.outerHTML;
					
				}else{
					document.getElementById("file4444").innerHTML	='';
					
				}
			 	//}
			}
			oImg.src=document.form1.img4.value;

//111		
			

			
				
			var point = oImg.src.lastIndexOf(".");
			var type = oImg.src.substr(point);
			if(type==".jpg"||type==".gif"||type==".JPG"||type==".GIF")
			{			
	
				return true;
						
			}
			else
			{
					document.getElementById("file4444").innerHTML	='只能输入jpg或者gif格式的图片';
				   //alert("只能输入jpg或者gif格式的图片");			 
					return false;
			}	

			return true;
}

</script>



</head>

<body>
<div id="ModaBox"><!--容器-->
	<div id="ModaLogin"><a href="http://passport.we54.com/Index/login?forward=<?php echo urlencode("http://moda.we54.com");?>" target="_blank">登录</a> | <a href="http://passport.we54.com/Index/register" target="_blank">注册</a> | <a href="?Controller=Index3&action=Register">加入美达</a></div>
	<div id="ModaFlash"><!--flash-->
	  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="1100" height="515">
        <param name="movie" value="images/modaflashbanner.swf" />
        <param name="quality" value="high" />
        <embed src="images/modaflashbanner.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="1100" height="515"></embed>
      </object>
	</div>
	<div id="ModaHeader"><!--导航-->
		<div id="ModaNav"><a href="http://moda.we54.com"><img src="images/moda002.jpg" alt="返回首页" width="253" height="51" border="0" /></a><a href="http://www.we54.com/dlgril/"><img src="images/moda003.jpg" width="194" height="51" border="0" alt="活动介绍" /></a><a href="about.html"><img src="images/moda004.jpg" width="189" height="51" border="0" alt="关于美达" /></a><a href="#"><img src="images/moda014.jpg" width="329" height="51" border="0" alt="申请加入美达" /></a></div>
		<div id="ModaPicA"><img src="images/moda022.jpg" width="188" height="87" border="0" class="ModaPicA_a" /><img src="images/moda023.jpg" width="587"  height="24" border="0" class="ModaPicA_C" /></div>
	</div>
	
	<div id="ModaReg"><!--申请美达-->
		<img src="images/moda024.jpg" width="13" height="15" border="0" class="ModaReg_Position_A" />
		<img src="images/moda024_2.jpg" width="13" height="15" border="0" class="ModaReg_Position_B" />
		<img src="images/moda024_3.jpg" width="13" height="15" border="0" class="ModaReg_Position_C" />
		<img src="images/moda024_4.jpg" width="13" height="15" border="0" class="ModaReg_Position_D" />
		<div id="ModaRegA"><img src="images/moda025.jpg" width="255" height="24" border="0" /></div>
	<form name="form1" action="?Controller=Index3&action=Register" method="post" enctype="multipart/form-data" >	
		<ul class="ModaRegB">
			
			<li><span class="ModaRegB_Span">真实姓名：</span><input type="text" name="truename" value="" class="ModaRegB_Text" onblur="registerck();"  /><span id="truename1111" style="width:110px" class="ModaRegB_Span"></span></li>	
			<li><span class="ModaRegB_Span">出生年月：</span><input type="text" id="bdate" name="bdate"  value="" class="ModaRegB_Text"  onblur="registerck();"   /><span id="bdate1111" style="width:110px" class="ModaRegB_Span"></span></li>	
			<li><span class="ModaRegB_Span">身　　高：</span><input type="text" name="height" value="" class="ModaRegB_Text"  onblur="registerck();"/><span id="height1111" style="width:200px" class="ModaRegB_Span"></span></li>	
			<li><span class="ModaRegB_Span">体　　重：</span><input type="text" name="weight" value="" class="ModaRegB_Text" onblur="registerck();"   /><span id="weight1111" style="width:200px" class="ModaRegB_Span"></span></li>	
			<li><span class="ModaRegB_Span">电　　话:</span><input type="text" name="mobile" value="" class="ModaRegB_Text"  onblur="registerck();"   /><span id="mobile1111" style="width:150px" class="ModaRegB_Span"></span></li>	
			<li><span class="ModaRegB_Span">QQ:</span><input type="text" name="qq" value="" class="ModaRegB_Text"  onblur="registerck();"  /><span id="qq1111" style="width:200px" class="ModaRegB_Span"></span></li>	       
			<li><span class="ModaRegB_Span">个人照片1：</span>
			
			<input name="img1" id="file1"  onchange=" ImgUploadCheck();"  onblur="registerck();"  class="ModaRegB_Text"   type="file">
			
			<span id="file1111" style="width:150px" class="ModaRegB_Span"></span>
			<span class="ModaRegB_Spana">（请务必上传4张含正脸、素颜、写真、全身的照片，做为审核依据）</span>
			
			</li>	
			
			
			<li><span class="ModaRegB_Span">个人照片2：</span>
			<input name="img2" id="file2" onchange=" ImgUploadCheck2();" onblur="registerck();"   class="ModaRegB_Text"  type="file"><span id="file2222" style="width:150px" class="ModaRegB_Span">
			
			</span></li>
			<li><span class="ModaRegB_Span">个人照片3：</span>
			<input name="img3" id="file3" onchange="ImgUploadCheck3();" onblur="registerck();"  class="ModaRegB_Text"  type="file"><span id="file3333" style="width:150px" class="ModaRegB_Span"></span></li>
			<li><span class="ModaRegB_Span">个人照片4：</span>
			<input name="img4" id="file4" onchange=" ImgUploadCheck4();" onblur="registerck();"   class="ModaRegB_Text"  type="file">
			<span id="file4444" style="width:150px" class="ModaRegB_Span"></span><span class="ModaRegB_Spana"></span></li>	
		</ul>
		<div id="ModaRegC"><input type="button" value="" class="ModaRegC_Submit" onclick="registercksbmint();" /></div>
		</form>
	</div>
	
	<div id="ModaBottom"><img src="images/md010.jpg" width="188" height="40" border="0" class="ModaBottomA" /><span class="ModaBottomB">版权所有：<a href="#">大连方佰信息技术有限公司 www.we54.com</a> 2009 copyright</span></div>
</div>
</body>
</html>
