<html>
	<head>

		<script src="js/jquery.pack.js"></script>
		<script src="js/jquery.Jcrop.pack.js"></script>
		
		<link rel="stylesheet" href="js/jquery.Jcrop.css" type="text/css" />
        
		<script language="Javascript">

			$(function(){

				
			});
			
			function goss(){

				jQuery('#cropbox').Jcrop({
					onChange: showPreview,
					onSelect: showPreview,
					onSelect: updateCoords,
					aspectRatio: 1
				});

			}

			function updateCoords(c)
			{
				$('#x').val(c.x);
				$('#y').val(c.y);
				$('#w').val(c.w);
				$('#h').val(c.h);
			};

			function checkCoords()
			{
				if ($('#x').val()==''){
					alert('请先上传头像然后选择裁切头像最后进行保存！');
					return false;
				}
			};
			
			function showPreview(coords)
			{
				var rx = 150 / coords.w;
				var ry = 150 / coords.h;
				var w2=$("#bigwidth").val();
				var h2=$("#bigheight").val();
				jQuery('#preview').css({
					width: Math.round(rx * w2) + 'px',
					height: Math.round(ry * h2) + 'px',
					marginLeft: '-' + Math.round(rx * coords.x) + 'px',
					marginTop: '-' + Math.round(ry * coords.y) + 'px'
				});
			}

		</script>

	</head>

	<body>

<div id="showBig" style="width:500px;height:500px;border:2px solid #E6E0CE;padding:3px;"></div>
<iframe style="width:500px;height:60px;padding:0px;" src="?Controller=Cover&action=UploadPic"></iframe>


<div id="showThumb" style="width:152px;height:152px;border:1px solid #cccccc;padding:1px; overflow: hidden;"></div>
<div style="margin-top:20px;">
    <form action="" method="post" onSubmit="return checkCoords();">
        <input type="hidden" id="bigImage" name="bigImage" />
        <input type="hidden" id="bigwidth" name="bigwidth" />
        <input type="hidden" id="bigheight" name="bigheight" />
        <input type="hidden" id="x" name="x" />
        <input type="hidden" id="y" name="y" />
        <input type="hidden" id="w" name="w" />
        <input type="hidden" id="h" name="h" />
        <input type="submit" value="保存用户头像" />
    </form>
</div>
	</body>

</html>