@charset "gb2312";
/* CSS Document */

/*通用背景*/
.first_season,
.second_season,
#moda_index_Show dl dt,
#moda_index_VCR dl dt,
#moda_index_Join p,
#moda_index_XGirl strong,
#moda_index_Hits p,
#moda_index_MHKC p			{ background:url(../two_images/index_bg_all.gif) no-repeat;}

/*焦点大图*/
#moda_index_focus	{ width:980px; height:360px; background:url(../two_images/box_border.gif) no-repeat left bottom; float:left;}
#moda_index_focus em					{ width:978px; height:360px; padding:0 1px; background:url(../two_images/box_border.gif) no-repeat right bottom; position:relative; overflow:hidden; float:left;}

/*左侧部分*/
#moda_index_left	{ width:670px; margin:10px 0 0 0; display:inline; overflow:hidden; float:left;}

	/*第一个广告*/
	#moda_index_poster_a				{ width:310px; height:251px; overflow:hidden; float:left;}
	
	/*第二个广告*/
	#moda_index_poster_b				{ width:350px; height:251px; overflow:hidden; float:right;}
	
	/*大连超级美女榜*/
	#moda_index_TopGirl					{ width:670px; height:636px; margin:10px 0 0 0; display:inline; background:url(../two_images/moda_index_TopGirl_bg.png) no-repeat; overflow:hidden; float:left;}
	#moda_index_TopGirl p				{ width:659px; height:20px; padding:11px 11px 0 0; overflow:hidden; float:left;}
	#moda_index_TopGirl p a				{ width:95px; height:20px; background:#3d3f96; text-align:center; color:#FFF; line-height:21px; overflow:hidden; float:right;}
	#moda_index_TopGirl p a:hover		{ background:#FFF; color:#6869c8; text-decoration:none;}
	#moda_index_TopGirl ul				{ width:659px; height:516px; padding:43px 0 0 11px; overflow:hidden; float:left;}
	#moda_index_TopGirl ul li			{ width:156px; height:172px; margin:0 8px 0 0; display:inline; overflow:hidden; float:left;}
	#moda_index_TopGirl ul li em		{ width:156px; height:121px; overflow:hidden; float:left;}
	#moda_index_TopGirl ul li em a		{ width:150px; height:98px; padding:20px 3px 3px 3px; overflow:hidden; float:left;}
	.first_season						{ background-position:0 0;}
	.first_season:hover					{ background-position:0 -121px;}
	.second_season						{ background-position:-156px 0;}
	.second_season:hover				{ background-position:-156px -121px;}
	#moda_index_TopGirl ul li b			{ width:156px; height:16px; padding:4px 0 0 0; overflow:hidden; float:left;}
	#moda_index_TopGirl ul li b a		{ font-size:14px; color:#eec4bc;}
	#moda_index_TopGirl ul li i			{ width:156px; height:13px; padding:4px 0 0 0; font-style:normal; color:#eec4bc; overflow:hidden; float:left;}
	#moda_index_TopGirl ul li i strong	{ font-weight:normal; color:#f0037f;}
	#moda_index_TopGirl span			{ width:670px; height:30px; text-align:center; overflow:hidden; float:left;}
	#moda_index_TopGirl span a			{ width:185px; height:30px; background:#3d3f96; text-align:center; font-size:14px; font-weight:bold; color:#FFF; line-height:30px; overflow:hidden; display:inline-block;}
	#moda_index_TopGirl span a:hover	{ background:#FFF; color:#6869c8; text-decoration:none;}
	
	/*展示*/
	#moda_index_Show					{ width:668px; height:980px; margin:10px 0 0 0; display:inline; background:#302330; border:#3d3f96 1px solid; overflow:hidden; float:left;}
	#moda_index_Show dl					{ width:668px; height:36px; float:left;}
	#moda_index_Show dl dt				{ width:208px; height:32px; margin:4px 0 0 8px; display:inline; background-position:-312px -112px; overflow:hidden; float:left;}
	#moda_index_Show dl dd				{ width:400px; height:26px; padding:10px 0 0 0; text-align:right; font-size:14px; font-weight:bold; color:#f28533; overflow:hidden; float:right;}
	#moda_index_Show dl dd a			{ font-size:14px; font-weight:bold; color:#f28533; text-decoration:underline; overflow:hidden;}
	#moda_index_Show dl dd a:hover		{ text-decoration:none;}
	#moda_index_Show ul					{ width:664px; height:888px; padding:13px 0 0 4px; overflow:hidden; float:left;}
	#moda_index_Show ul li				{ width:152px; height:148px; margin:0 7px 0 6px; display:inline; overflow:hidden; float:left;}
	#moda_index_Show ul li em			{ width:150px; height:98px; border:#6f4a51 1px solid; overflow:hidden; float:left;}
	#moda_index_Show ul li b			{ width:152px; height:13px; padding:5px 0 0 0; text-align:center; font-weight:normal; overflow:hidden; float:left;}
	#moda_index_Show ul li b a			{ color:#eec4bc;}
	#moda_index_Show ul li i			{ width:152px; height:13px; padding:3px 0 0 0; text-align:center; font-style:normal; color:#666666; overflow:hidden; float:left;}
	#moda_index_Show ul li i strong		{ font-weight:normal; color:#f0037f;}
	#moda_index_Show ul li i span		{ color:#eec4bc;}
	#moda_index_Show p					{ width:668px; height:30px; text-align:center; overflow:hidden; float:left;}
	#moda_index_Show p a				{ width:185px; height:30px; background:#3d3f96; text-align:center; font-size:14px; font-weight:bold; color:#FFF; line-height:30px; overflow:hidden; display:inline-block;}
	#moda_index_Show p a:hover			{ background:#FFF; color:#6869c8; text-decoration:none;}

/*右侧部分*/
#moda_index_right	{ width:300px; margin:10px 0 0 0; display:inline; overflow:hidden; float:right;}

	/*第三个广告*/
	#moda_index_poster_c				{ width:300px; height:120px; overflow:hidden; float:left;}
	
	/*美达VCR*/
	#moda_index_VCR						{ width:300px; height:304px; margin:10px 0 0 0; display:inline; background:#311f34 url(../two_images/box_border.gif) no-repeat left bottom; border-top:#3d3f96 1px solid; overflow:hidden; float:left;}
	#moda_index_VCR span				{ width:298px; height:304px; padding:0 1px; background:url(../two_images/box_border.gif) no-repeat right bottom; overflow:hidden; float:left;}
	#moda_index_VCR dl					{ width:298px; height:65px; overflow:hidden; float:left;}
	#moda_index_VCR dl dt				{ width:146px; height:56px; margin:9px 0 0 9px; display:inline; background-position:-312px 0; overflow:hidden; float:left;}
	#moda_index_VCR dl dd				{ width:133px; height:20px; padding:10px 10px 0 0; overflow:hidden; float:left;}
	#moda_index_VCR dl dd a				{ width:87px; height:20px; background:#3d3f96; text-align:center; color:#FFF; line-height:21px; overflow:hidden; float:right;}
	#moda_index_VCR dl dd a:hover		{ background:#FFF; color:#6869c8; text-decoration:none;}
	#moda_index_VCR em					{ width:276px; height:168px; padding:7px 0 0 11px; overflow:hidden; float:left;}
	#moda_index_VCR b					{ width:276px; height:14px; padding:9px 0 0 11px; text-align:center; overflow:hidden; float:left;}
	#moda_index_VCR b a					{ color:#f0037f;}
	#moda_index_VCR i					{ width:276px; height:14px; padding:8px 0 0 11px; text-align:center; font-style:normal; color:#999999; overflow:hidden; float:left;}
	
	/*美达合作机构*/
	#moda_index_Join					{ width:300px; height:360px; margin:10px 0 0 0; display:inline; background:#311f34 url(../two_images/box_border.gif) no-repeat left bottom; border-top:#3d3f96 1px solid; overflow:hidden; float:left;}
	#moda_index_Join span				{ width:298px; height:360px; padding:0 1px; background:url(../two_images/box_border.gif) no-repeat right bottom; overflow:hidden; float:left;}
	#moda_index_Join p					{ width:217px; height:56px; margin:9px 0 0 10px; display:inline; background-position:-458px 0; overflow:hidden; float:left;}
	#moda_index_Join ul					{ width:280px; height:286px; padding:9px 0 0 9px; float:left;}
	#moda_index_Join ul li				{ width:278px; height:80px; margin:0 0 10px 0; display:inline; background:#231425; border:#58375c 1px solid; overflow:hidden; float:left;}
	#moda_index_Join ul li em			{ width:60px; height:60px; margin:10px 10px 0 10px; display:inline; overflow:hidden; float:left;}
	#moda_index_Join ul li b			{ width:189px; height:18px; padding:11px 0 0 0; overflow:hidden; float:left;}
	#moda_index_Join ul li b a			{ font-size:16px; color:#FFF;}
	#moda_index_Join ul li i			{ width:189px; height:32px; padding:9px 0 0 0; font-style:normal; color:#666666; line-height:16px; overflow:hidden; float:left;}
	
	/*美达X-GIRL*/
	#moda_index_XGirl					{ width:300px; height:329px; margin:10px 0 0 0; display:inline; background:#311f34 url(../two_images/box_border.gif) no-repeat left bottom; border-top:#3d3f96 1px solid; overflow:hidden; float:left;}
	#moda_index_XGirl span				{ width:298px; height:329px; padding:0 1px; background:url(../two_images/box_border.gif) no-repeat right bottom; overflow:hidden; float:left;}
	#moda_index_XGirl strong			{ width:191px; height:56px; margin:9px 0 0 10px; display:inline; background-position:-312px -56px; overflow:hidden; float:left;}
	#moda_index_XGirl em				{ width:280px; height:136px; margin:8px 0 0 8px; display:inline; border:#773c50 1px solid; overflow:hidden; float:left;}
	#moda_index_XGirl b					{ width:276px; height:14px; padding:9px 0 0 13px; text-align:center; overflow:hidden; float:left;}
	#moda_index_XGirl b a				{ color:#f0037f;}
	#moda_index_XGirl i					{ width:276px; height:68px; padding:8px 0 0 13px; font-style:normal; color:#999999; line-height:18px; overflow:hidden; float:left;}
	
	/*美达人气榜*/
	#moda_index_Hits					{ width:300px; height:352px; margin:10px 0 0 0; display:inline; background:#311f34 url(../two_images/box_border.gif) no-repeat left bottom; border-top:#3d3f96 1px solid; overflow:hidden; float:left;}
	#moda_index_Hits span				{ width:298px; height:352px; padding:0 1px; background:url(../two_images/box_border.gif) no-repeat right bottom; overflow:hidden; float:left;}
	#moda_index_Hits p					{ width:181px; height:56px; margin:9px 0 0 10px; display:inline; background-position:-503px -56px; overflow:hidden; float:left;}
	#moda_index_Hits ul					{ width:280px; height:278px; padding:0 8px 0 10px; overflow:hidden; float:left;}
	#moda_index_Hits ul li				{ width:280px; height:82px; padding:10px 0 0 0; border-bottom:#4f3753 1px dashed; overflow:hidden; float:left;}
	#moda_index_Hits ul li em			{ width:70px; height:70px; margin:0 10px 0 0; display:inline; border:#75025c 1px solid; overflow:hidden; float:left;}
	#moda_index_Hits ul li b			{ width:198px; height:16px; margin:0 0 8px 0; display:inline; font-weight:normal; color:#bbb0bc; overflow:hidden; float:left;}
	#moda_index_Hits ul li b a			{ font-size:14px; font-weight:bold; color:#e8047c;}
	#moda_index_Hits dl					{ width:198px; height:52px; overflow:hidden; float:left;}
	#moda_index_Hits dl dt				{ width:198px; height:26px; color:#eec4bc; overflow:hidden; float:left;}
	#moda_index_Hits dl dt i			{ font-style:normal; line-height:20px; overflow:hidden; float:left;}
	#moda_index_Hits dl dt strong		{ height:22px; position:relative; overflow:hidden; float:left;}
	#moda_index_Hits dl dt strong pre	{ font-weight:normal; position:absolute; top:3px; right:6px;}
	
	/*美达贴吧*/
	#moda_index_MHKC					{ width:300px; height:369px; margin:10px 0 0 0; display:inline; background:#311f34 url(../two_images/box_border.gif) no-repeat left bottom; border-top:#3d3f96 1px solid; overflow:hidden; float:left;}
	#moda_index_MHKC span				{ width:298px; height:369px; padding:0 1px; background:url(../two_images/box_border.gif) no-repeat right bottom; overflow:hidden; float:left;}
	#moda_index_MHKC p					{ width:165px; height:54px; margin:9px 0 0 8px; display:inline; background-position:-312px -144px; overflow:hidden; float:left;}
	#moda_index_MHKC ul					{ width:280px; height:240px; padding:7px 0 0 10px; overflow:hidden; float:left;}
	#moda_index_MHKC ul li				{ width:280px; height:14px; padding:10px 0 0 0; overflow:hidden; float:left;}
	#moda_index_MHKC ul li i			{ font-style:normal; color:#fe89d3;}
	#moda_index_MHKC ul li i a			{ color:#fe89d3;}
	#moda_index_MHKC ul li em			{ margin:0 0 0 7px; display:inline; font-style:normal;}
	#moda_index_MHKC ul li em a			{ color:#FFF;}
	#moda_index_MHKC b					{ margin:28px 10px 0 0; display:inline; font-weight:normal; color:#f0afcf; overflow:hidden; float:right;}
	#moda_index_MHKC b a				{ color:#fe89d3; text-decoration:underline;}
	#moda_index_MHKC b a:hover			{ text-decoration:none;}