

body{ background: #1b141c url(../images/grzs_01.jpg) no-repeat top; font: "ו"; font-size:12px;}
*{ padding:0px; border:0px; margin:0px;}
li{ list-style-type:none;}
a:hover { text-decoration: underline; }
h1{ font-size:14px; color:#bc5b31; display:inline; }
h2{ font-size:12px; font-weight:normal; color:#695c6e; display:inline;}
h3{ font:12px normal; color:#ffe2c7; display:inline;}
h4{ font-size:20px; color:#fe89d3; display:inline;}
h5{ font-size:12px; color:#fdb979; display:inline; font-weight:normal;}
#full{ margin:0px auto; width:980px; height:auto;}


#top{ height:123px; width:980px; float:left;}
	#top_a{ height:20px; width:980px; color:#878787; float:left; overflow:hidden; text-align:right; padding-top:10px;}
	#top_a a{ font-size:12px; color:#878787; text-decoration:none;}
	#top_b{ height:93px; width:980px; float:left; overflow:hidden;}
		#top_b_a{ height:93px; width:301px; float:left; overflow:hidden;}
		#top_b_b{ height:93px; width:679px; float:left; overflow:hidden;}
			#top_b_b_a{ height:53px; width:679px; float:left; overflow:hidden;}
				#top_b_b_a_a{ width:676px; height:14px; float:left; color:#eac6be; text-align:right; padding-top:8px; padding-right:3px;}
				#top_b_b_a_a a{ font-size:12px; color:#eac6be; text-decoration:none;}
				#top_b_b_a_b{ width:679px; height:31px; float:left; color:#eac6be;}
			#top_b_b_b{ height:40px; width:164px; float:left; overflow:hidden; background:url(../images/grzs_06.jpg) no-repeat;}
			#top_b_b_c{ height:40px; width:515px; float:left; overflow:hidden;}
				.button{ height:40px; width:515px; float:left; overflow:hidden; text-align:right;}
				.button li{ height:26px; width:103px; float:left; overflow:hidden; text-align:center; padding-top:14px;}
				.button li a{ font-size:14px; color:#eec4bc; text-decoration:none;}
				
				
#cont{ width:980px; height:709px; float:left; overflow:hidden; background:url(../images/fbzs_03.jpg) no-repeat; background-color:#29242b; margin-bottom:3px;}
	#cont_a{ width:980px; height:103px; float:left; overflow:hidden;}
	#cont_b{ width:980px; height:63px; float:left; overflow:hidden;}
		#cont_b_a{ width:86px; height:63px; float:left; overflow:hidden;}
		#cont_b_b{ width:70px; height:55px; float:left; overflow:hidden; font-size:14px; color:#ecc4ba; padding-top:8px;}
		#cont_b_c{ width:824px; height:63px; float:left; overflow:hidden;}
			.cont_b_c_a{ width:412px; height:21px; float:left; overflow:hidden; border:#724a6c 1px solid; background-color:#291425; font-size:14px; color:#fdb97a; padding-top:7px; padding-left:9px; padding-right:9px;}
			.cont_b_c_a_1{ width:20px; height:21px; float:left; overflow:hidden; border:#724a6c 1px solid; background-color:#291425; font-size:14px; color:#fdb97a; padding-top:7px; padding-left:9px; padding-right:9px;}
			
	#cont_c{ width:980px; height:214px; float:left; overflow:hidden;}
		#cont_c_a{ width:86px; height:214px; float:left; overflow:hidden;}
		#cont_c_b{ width:70px; height:209px; float:left; overflow:hidden; font-size:14px; color:#ecc4ba; padding-top:5px;}
		#cont_c_c{ width:824px; height:214px; float:left; overflow:hidden;}
			.cont_c_c_a{ width:681px; height:189px; float:left; overflow:hidden; border:#724a6c 1px solid; background-color:#291425; font-size:14px; color:#fdb97a; padding-top:7px; padding-left:9px; padding-right:9px;}
	#cont_d{ width:980px; height:329px; float:left; overflow:hidden; text-align:center;}





			