

body{ background: #1b141c url(../images/images/grzs_01.jpg) no-repeat top; font: "宋体"; font-size:12px;}
*{ padding:0px; border:0px; margin:0px;}
li{ list-style-type:none;}
a:hover { text-decoration:none;}
h1{ font: 12px normal; color:#f0037f; display:inline; }
h2{ font-size:12px; color:#fdb979; display:inline;}
h3{ font:12px normal; color:#fe89d3; display:inline;}
h4{ font:14px; color:#fe89d3; display:inline;}
#full{ margin:0px auto; width:980px; height:auto;}


#top{ height:123px; width:980px; float:left;}
	#top_a{ height:20px; width:980px; float:left; overflow:hidden; color:#878787; text-align:right; padding-top:10px;}
	#top_b{ height:93px; width:980px; float:left; overflow:hidden;}
		#top_b_a{ width:404px; height:93px; float:left; overflow:hidden;}
		#top_b_b{ width:576px; height:93px; float:left; overflow:hidden;}
			#top_b_b_a{ width:563px; height:32px; float:left; overflow:hidden; color:#eec4bc; text-align:right; padding-top:8px; padding-right:13px;}
			#top_b_b_a a{ font-size:12px; color:#eec4bc; text-decoration:none;}
			#top_b_b_b{ width:576px; height:53px; float:left; overflow:hidden;}
			.top1_2 {margin:0 10px 0 10px;color:#888888; }
			#top_a a{ text-decoration:none ;color:#888888;}
			
#cont{ width:980px; height:2232px;; float:left; overflow:hidden; margin-bottom:10px; background:url(../images/mnph_17.jpg) no-repeat;}
	#cont_a{ width:980px; height:155px; float:left; overflow:hidden; text-align:center; padding-top:1px;}
	#cont_b{ width:980px; height:2034px; float:left; overflow:hidden; background:url(../images/mnph_18.jpg) no-repeat;}
		#cont_b_a{ width:15px; height:2034px; float:left; overflow:hidden;}
		#cont_b_b{ width:960px; height:2034px; float:left; overflow:hidden;}
			.box{ width:960px; height:2034px; float:left; overflow:hidden;}
				.box_a{ width:150px; height:195px; float:left; overflow:hidden; margin-bottom:29px; margin-right:10px;}
					.box_a_a{ width:150px; height:134px; float:left; overflow:hidden; background-color:#f0037f;}
						.box_a_a_a{ width:150px; height:21px; float:left; overflow:hidden; background:url(../images/images/mnph_03.jpg) no-repeat;}
						.box_a_a_b{ width:144px; height:107px; float:left; overflow:hidden; border:#f0037f 3px solid;}
					.box_a_b{ width:150px; height:39px; float:left; overflow:hidden;}
						.box_a_b_a{ width:150px; height:17px; float:left; overflow:hidden; font-size:16px; font-weight:bold; color:#eec4bc; padding-top:2px;}
						.box_a_b_b{ width:150px; height:16px; float:left; overflow:hidden; font-size:12px; color:#eec4bc; padding-top:4px;}
					.box_a_c{ width:148px; height:16px; float:left; overflow:hidden; border:#724a6c 1px solid; background-color:#281425; padding-top:4px; 						text-align:center;}
						.box_a_c a{ font-size:12px; color:#f0037f; text-decoration:none;}
		#cont_b_c{ width:5px; height:1349px; float:left; overflow:hidden;}
	#cont_c{ width:980px; height:38px; float:left; text-align:center; background:url(../images/mnph_19.jpg) no-repeat;}

	
	
	#top_b_b_b{ width:576px; height:53px; float:left; overflow:hidden;}
				.button{ width:576px; height:53px; float:left; overflow:hidden;}
					.button_a{ width:77px; height:53px; float:left; overflow:hidden; background:url(../images/mnph_05.jpg) no-repeat;}
					.button_a:hover{ background:url(../images/mnph_11.jpg) no-repeat; display:block;}
					.button_b{ width:98px; height:53px; float:left; overflow:hidden; background:url(../images/mnph_06.jpg) no-repeat;}
					.button_b:hover{ background:url(../images/mnph_12.jpg) no-repeat; display:block;}
					.button_c{ width:98px; height:53px; float:left; overflow:hidden; background:url(../images/mnph_07.jpg) no-repeat;}
					.button_c:hover{ background:url(../images/mnph_13.jpg) no-repeat; display:block;}
					.button_d{ width:98px; height:53px; float:left; overflow:hidden; background:url(../images/mnph_08.jpg) no-repeat;}
					.button_d:hover{ background:url(../images/mnph_14.jpg) no-repeat; display:block;}
					.button_e{ width:98px; height:53px; float:left; overflow:hidden; background:url(../images/mnph_09.jpg) no-repeat;}
					.button_e:hover{ background:url(../images/mnph_15.jpg) no-repeat; display:block;}
					.button_f{ width:106px; height:53px; float:left; overflow:hidden; background:url(../images/mnph_10.jpg) no-repeat;}
					.button_f:hover{ background:url(../images/mnph_16.jpg) no-repeat; display:block;}
	
	
	


	
	
	
	.lee {margin:20px 0 0 5px;}
	.lee a{color:#FFFFFF; text-decoration:none; font-size:16px;font-weight:bold; margin:0 10px 0 20px;}
	.lee a:hover{ text-decoration:none;}