				
					
#cont{ width:978px; height:auto; float:left; overflow:hidden; margin-bottom:10px; border:1px #ececec solid;}
	#cont_a{ width:980px; height:272px; float:left; overflow:hidden; background:url(../images/mdft_01.jpg) no-repeat;}
		#cont_a_a{ width:964px; height:71px; float:left; overflow:hidden; margin-top:14px; margin-left:14px; display:inline;}
		#cont_a_b{ width:946px; height:200px; float:left; overflow:hidden; padding-left:15px; padding-right:15px;}
			.cont_a_b_a{ width:923px; height:164px; float:left; overflow:hidden; border:#ececec 1px solid; }
				.cont_a_b_a_a{ width:741px; height:69px; float:left; overflow:hidden; border-bottom:#5b3041 1px dashed; margin-top:24px; display:inline;}
				.cont_a_b_a_b{ width:711px; height:78px; float:left; overflow:hidden; font-size:12px; color:#666666; padding-top:16px; padding-left:15px; padding-right:15px; line-height:20px;}
				.cont_a_b_a_c      { width:153px; height:112px; float:left; overflow:hidden; border:1px #ebebeb solid; margin-top:24px; margin-left:14px; margin-bottom:25px; margin-right:13px; display:inline;}
	
	
	#cont_b{ width:927px; height:auto; float:left; overflow:hidden; padding-left:125px; padding-right:24px; padding-top:9px; padding-bottom:41px;}
		.text{ width:927px; height:auto; float:left; overflow:hidden; line-height:270%;}
	
	
		
	#cont_c{ width:935px; float:left; overflow:hidden; background:url(../images/mdft_02.jpg) no-repeat; padding-left:18px; padding-right:18px;}
		.cont_c_a{ width:942px; float:left; overflow:hidden; border-top:#cccccc 1px dashed; padding-top:30px; padding-bottom:35px; font-size:18px; padding-left:99px;}
		.cont_c_a li{ width:454px; height:17px; float:left; overflow:hidden; margin-bottom:12px; padding-left:12px; padding-right:5px;}
		.cont_c_a li a{ font-size:12px; color:#e4007f; text-decoration:none;}
					
					
					
					
	#content							{ width:980px; margin:0 auto;}
#head								{ width:980px;float:left;}
#head .biglogo						{ background:url(../images/modamember/big_logo.jpg) no-repeat; float:left; margin-left:180px;_margin-left:100px;width:646px; height:81px;}	
#head .m_link						{ float:right; margin-top:4px; }
#head .m_link a						{ color:#777677; float:left;}
#head .m_link a:hover				{ text-decoration:none;}
#head .m_link span					{ float:left;width:20px;}
#head .m_link em					{ color:#777677; margin:0 5px; float:left;}

#head .m_navigate					{  float:left;}
#head .m_navigate li				{  height:36px;float:left; margin-left:0px; border:0px solid #F00;}
#head .m_navigate h1 a,#head .m_navigate h2 a,#head .m_navigate h3 a,#head .m_navigate h4 a,#head .m_navigate h5 a,#head .m_navigate h6 a,#head .m_navigate em a,#head .m_navigate b a									{ background:url(../images/modamember/navi.jpg) no-repeat; height:36px; background-color:#3a3a3a;float:left;}
#head .m_navigate li h1 a			{ width:130px; background-position:0 0;}
#head .m_navigate li h1 a:hover		{ background-position:0 -36px;}
#head .m_navigate li h1 a.current	{ background-position:0 0px;}
#head .m_navigate li h2 a			{ width:118px;}
#head .m_navigate li h2 a:hover		{ background-position:-129px -36px;}
#head .m_navigate li h2 a.current	{ background-position:-129px -36px;}
#head .m_navigate li h3 a			{ width:126px; background-position:-247px 0;}
#head .m_navigate li h3 a:hover		{ background-position:-247px -36px;}
#head .m_navigate li h3 a.current	{ background-position:-247px -36px;}
#head .m_navigate li h4 a			{ width:118px; background-position:-373px 0;}
#head .m_navigate li h4 a:hover		{ background-position:-373px -36px;}
#head .m_navigate li h4 a.current	{ background-position:-373px -36px;}
#head .m_navigate li h5 a			{ width:110px; background-position:-491px 0;}
#head .m_navigate li h5 a:hover		{ background-position:-491px -36px;}
#head .m_navigate li h5 a.current	{ background-position:-491px -36px;}
#head .m_navigate li h6 a			{ width:140px; background-position:-602px 0;}
#head .m_navigate li h6 a:hover		{ background-position:-602px -36px;}
#head .m_navigate li h6 a.current	{ background-position:-602px -36px;}
#head .m_navigate li em a			{ width:122px; background-position:-742px 0;}
#head .m_navigate li em a:hover		{ background-position:-742px -36px;}
#head .m_navigate li em a.current	{ background-position:-742px -36px;}
#head .m_navigate li b a			{ width:116px; background-position:-865px 0;}
#head .m_navigate li b a:hover		{ background-position:-865px -36px;}
#head .m_navigate li b a.current	{ background-position:-865px -36px;}
	
