/* CSS Document */


/*ÕÐÄ¼ÁÐ±í*/
.zhanmu_list { width:978px; overflow:hidden; float:left; margin-top:10px; display:inline; padding-bottom:20px; border:1px #ececec solid; background-color:#FFFFFF;}
	.zhaomu_logo { width:174px; height:84px; overflow:hidden; float:left;}
	.zhanmu_list ul { width:964px; overflow:hidden; float:left; margin-left:15px; display:inline;}
	.zhanmu_list ul li { width:948px; height:222px; overflow:hidden; float:left; margin:0 0 10px 0; display:inline;}

/*Ò³Âë*/
#list_pg {
    color: #0156A9;
    float: left;
    font-size: 14px;
    height: 27px;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
    width: 980px;
	margin-top:20px;
	display:inline;
}
	#list_pg li {
    display: inline;
    margin: 0 3px;
}
	#list_pg li a {
    background-color: #f7f7f7;
    color: #f1037d;
    padding: 3px 7px;
	border:1px solid #dfdfdf;
}
#list_pg li a:hover {
    background-color: #f1037d;
    color: #FFFFFF;
    text-decoration: none;
}
	
#list_pg li.thisclass a {
     background-color: #f1037d;
    color: #FFFFFF;
    text-decoration: none;
}	
