@charset "gb2312";
/* CSS Document */





.moda_nav ul li b a,
.moda_nav ul li span a,
.moda_nav ul li h1 a,
.moda_nav ul li tt a,
.moda_nav ul li i a,
.moda_nav ul li em a									{ background:url(../images/moda_geren_navbg.jpg) no-repeat;}




.moda_grzs_title										{width:980px; height:99px; overflow:hidden; float:left;}
	.moda_title											{width:498px; height:99px; overflow:hidden; float:left;}
	.moda_daohang										{width:482px; height:24px; overflow:hidden; float:left;}
	.moda_daohang em									{height:24px; line-height:24px; overflow:hidden; float:right; margin:0 10px 0 10px; display:inline;}
	.moda_daohang em a									{color:#777677;}
	.moda_daohang tt									{height:24px; line-height:24px; overflow:hidden; float:right; color:#777677;}
	.moda_youmei										{width:482px; height:39px; overflow:hidden; float:left;}
	.moda_nav											{width:482px; height:36px; overflow:hidden; float:left;}
	.moda_nav ul										{width:482px; height:36px; overflow:hidden; float:left; background-color:#ededed;}
	.moda_nav ul li										{width:79px; height:36px; overflow:hidden; float:left; margin-left:1px; display:inline;}
	.moda_nav ul li em a								{width:79px; height:36px; overflow:hidden; float:left; background-position:0 0;}
	.moda_nav ul li i a									{width:79px; height:36px; overflow:hidden; float:left; background-position:-80px 0;}
	.moda_nav ul li tt a								{width:79px; height:36px; overflow:hidden; float:left; background-position:-160px 0;}
	.moda_nav ul li tt a:hover							{width:79px; height:36px; overflow:hidden; float:left; background-position:-160px -36px;}
	.moda_nav ul li h1 a								{width:79px; height:36px; overflow:hidden; float:left; background-position:-240px -36px;}
	.moda_nav ul li h1 a:hover							{width:79px; height:36px; overflow:hidden; float:left; background-position:-240px -36px;}
	.moda_nav ul li span a								{width:79px; height:36px; overflow:hidden; float:left; background-position:-320px 0;}
	.moda_nav ul li b a									{width:79px; height:36px; overflow:hidden; float:left; background-position:-400px 0;}
	





.moda_lianxi											{width:978px; height:106px; overflow:hidden; float:left; border:1px solid #dfdfdf; margin-top:10px; display:inline; background:url(../images/moda_lianxibg.jpg) no-repeat;}	
	.moda_lianxi_bianji									{width:203px; height:106px; overflow:hidden; float:left; margin-left:265px; display:inline;}
	.moda_lianxi_bianji b								{width:203px; height:42px; overflow:hidden; float:left; line-height:42px; color:#666666;}	
	.moda_lianxi_bianji span							{width:203px; height:16px; overflow:hidden; float:left; line-height:16px;}
	.moda_lianxi_qihua									{width:203px; height:106px; overflow:hidden; float:left; margin-left:30px; display:inline;}
	.moda_lianxi_qihua b								{width:203px; height:42px; overflow:hidden; float:left; line-height:42px; color:#666666;}	
	.moda_lianxi_qihua span								{width:203px; height:16px; overflow:hidden; float:left; line-height:16px;}
	.moda_lianxi_weibo									{width:203px; height:106px; overflow:hidden; float:left; margin-left:30px; display:inline;}
	.moda_lianxi_weibo b								{width:203px; height:42px; overflow:hidden; float:left; line-height:42px; color:#666666;}	
	.moda_lianxi_weibo span								{width:203px; height:16px; overflow:hidden; float:left; line-height:16px;}
	.moda_lianxi_weibo tt								{width:68px; font-size-adjust:23px; overflow:hidden; float:left; margin-top:11px; display:inline;}
	
	
	
/*主体*/	
	
@charset "gb2312";
/* CSS Document */

/*通用背景*/
.moda_Show_button span a,
.moda_Show_button em a,
.moda_Show_button i a,
.moda_Show_button b a,
.moda_Show_button p a,
#moda_Show_VCR span,
#moda_Show_Photo dl dt			{ background:url(../two_images/Show_bg_all.gif) no-repeat;}

/*个人资料*/
#moda_Show_Data		{ width:978px; padding:0 0 11px 0;   overflow:hidden; float:left; border-left:1px #ececec solid; border-right:1px #ececec solid;; border-top:1px #ececec solid;}

	/*按钮*/
	.moda_Show_button				{ width:968px; height:75px; padding:9px 0px 0 11px; position:relative; overflow:hidden; float:left;}
	#moda_Show_button_admin			{ color:#f0037f; position:absolute; top:55px; right:20px; overflow:hidden;}
	#moda_Show_button_admin a		{ color:#f0037f;}
	
	.moda_Show_button span			{ width:102px; height:28px; overflow:hidden; float:right; margin-right:13px; margin-top:23px; display:inline;}
	.moda_Show_button span a		{ width:102px; height:28px; background-image:url(../images/guanli.jpg); overflow:hidden; float:left;}
	.moda_Show_button span a:hover	{}
	.moda_Show_button em			{ width:102px; height:28px; overflow:hidden; float:right; margin-right:7px; margin-top:23px; display:inline;}
	.moda_Show_button em a			{ width:102px; height:28px; background-image:url(../images/fanhui.jpg); overflow:hidden; float:left;}
	.moda_Show_button em a:hover	{ }
	.moda_Show_button i				{ width:102px; height:28px; overflow:hidden; float:right; margin-right:7px; margin-top:23px; display:inline;}
	.moda_Show_button i a			{ width:102px; height:28px; background-image:url(../images/pinglun.jpg); overflow:hidden; float:left;}
	.moda_Show_button i a:hover		{}
	.moda_Show_button b				{ width:71px; height:28px; overflow:hidden; float:right; margin-right:7px; margin-top:23px; display:inline;}
	.moda_Show_button b a			{ width:71px; height:28px; background-image:url(../images/next.jpg); overflow:hidden; float:left;}
	.moda_Show_button b a:hover		{}
	.moda_Show_button h1				{ width:71px; height:28px; overflow:hidden; float:right; margin-right:7px; margin-top:23px; display:inline;}
	.moda_Show_button h1 a			{ width:71px; height:28px; background-image:url(../images/pre.jpg); overflow:hidden; float:left;}
	.moda_Show_button h1 a:hover		{}

.geren               { width:165px; height:56px; float:left; overflow:hidden;}


.guanli_top                      { width:273px; float:left; overflow:hidden; margin-top:5px; margin-left:530px; display:inline;}
.guanli_top a                      { color:#ff0183;}
.moda_Show_VCR_logo                      { width:580px; height:51px; float:left; overflow:hidden; margin-top:19px; margin-left:386px; display:inline;}



	
#moda_Show_Data pre					{ width:298px; height:198px; margin:0px 10px 0 15px; display:inline; border:#dedede 1px solid; overflow:hidden; float:left;}
#moda_Show_Data dl					{ width:636px; height:143px;  border:#dedede 1px solid; overflow:hidden; float:left; background-color:#f7f7f7;}
#moda_Show_Data dl dt				{ width:610px; height:70px; margin:0 0 0 10px; display:inline; border-bottom:#999999 1px dashed; text-align:center; overflow:hidden; float:left;}
#moda_Show_Data dl dt b				{ width:622px; height:16px; padding:10px 0 0 0; font-size:16px; color:#ff5b00; overflow:hidden; float:left;}
#moda_Show_Data dl dt em			{ width:622px; height:14px; padding:4px 0 0 0; font-style:normal; color:#333333; float:left;}
#moda_Show_Data dl dt i				{ width:622px; height:14px; padding:6px 0 0 0; font-style:normal; color:#666666; display:inline-block;}
#moda_Show_Data dl dt i span		{ color:#f0037f;}
#moda_Show_Data dl dd				{ width:605px; height:62px; padding:7px 0 0 18px; color:#ff0183; line-height:22px; overflow:hidden; float:left;}
#moda_Show_Data dl dd p                    { width:605px; float:left; line-height:21px;}

/*个人展示页*/
#moda_Show_Data strong				{ width:943px; margin:0 0 0 17px; display:inline; padding:0 0 20px 0; border-bottom:#5c3145 1px dashed; text-align:center; overflow:hidden; float:left;}
#moda_Show_Data strong img			{ max-width:900px;_width:expression(this.width > 900 && this.width > this.height ? 900: auto); margin:40px auto 20px; display:block; overflow:hidden;}
#moda_Show_Data strong em			{ width:900px; height:16px; font-size:14px; font-style:normal; font-weight:normal; color:#eac6be; overflow:hidden; display:inline-block;}
#moda_Show_Data h6					{ width:900px; margin:0 0 0 17px; display:inline; padding:40px 0 40px 20px; border-bottom:#5c3145 1px dashed; font-size:14px; font-weight:normal; color:#eac6be; line-height:26px; overflow:hidden; float:left;}

	/*转载*/
	#moda_Show_Reprint				{ width:636px; height:43px; border:#e6e6e6 1px solid; overflow:hidden; float:left; margin-top:10px; display:inline; background-color:#f7f7f7;}
	#moda_Show_Reprint span			{ margin:15px 0 0 10px; display:inline; color:#ff5b00; float:left;}
	#moda_Show_Reprint span b		{color:#f0037f;}
	#moda_Show_Reprint i			{ margin:12px 0 0 0; display:inline; overflow:hidden; float:left;}
	#moda_Show_Reprint i img		{ overflow:hidden; float:left;}
	#moda_Show_Reprint i a			{ margin:0 10px 0 2px; display:inline; font-style:normal; color:#666666; line-height:19px; text-decoration:underline; float:left;}
	#moda_Show_Reprint i a:hover	{ text-decoration:none;}
	

.charu                               { width:121px; height:23px; float:left; overflow:hidden; border:1px #d3d3d3 solid; background-color:#f0f0f0; color:#ff2092; padding-top:10px; padding-left:27px; font-size:14px; font-weight:bolder; margin-top:10px; margin-left:15px; display:inline;}
.charu a                        { color:#ff2092;}



/*视频模块*/
.mokuai                                   { width:978px; float:left; overflow:hidden; border-left:1px #ececec solid; border-right:1px #ececec solid; border-bottom:1px #ececec solid;}
.viedo                            { width:959px; float:left; overflow:hidden; border-top:1px #999999 dashed; margin-left:10px; display:inline;}
.viedo li                         { width:959px; float:left; overflow:hidden; border-bottom:1px #999999 dashed; padding-bottom:10px;}
.viedo li em                      {  float:left; overflow:hidden; margin-top:10px; margin-left:5px; display:inline; border:1px #e0e0e0 solid; }



.shuru                      { width:744px; height:156px; float:left; overflow:hidden; margin-top:10px; margin-left:10px;  display:inline; }
.text1                          { width:347px; height:26px; float:left; overflow:hidden; background-color:#f3f3f3; border:1px #e0e0e0 solid; margin-bottom:6px; display:inline;}
.text2                               { width:736px; height:120px; float:left; overflow:hidden; background-color:#f3f3f3; border:1px #e0e0e0 solid;}
.anniou1                          { width:124px; height:28px; float:left; overflow:hidden; background:url(../images/baocunxiugai.jpg) no-repeat; margin-left:138px; display:inline;}
.anniou2{ width:124px; height:28px; float:left; overflow:hidden; background:url(../images/shanchu.jpg) no-repeat; margin-left:8px; display:inline;}
.text1_a                          { width:347px; height:26px; float:left; overflow:hidden; background-color:#f3f3f3;}
.text2_a                               { width:736px; height:120px; float:left; overflow:hidden; background-color:#f3f3f3; }
.anniou1_a                          { width:124px; height:28px; float:left; overflow:hidden; background:url(../images/baocunxiugai.jpg) no-repeat;}
.anniou2_a{ width:124px; height:28px; float:left; overflow:hidden; background:url(../images/shanchu.jpg) no-repeat;}





