

body{ background: #1b141c url(../images/grzs_01.jpg) no-repeat top; font: "ו"; font-size:12px;}
*{ padding:0px; border:0px; margin:0px;}
li{ list-style-type:none;}
a:hover { text-decoration: underline; }
h1{ font-size:12px; color:#f0037f; font-weight:normal; display:inline; }
h2{ font-size:12px; font-weight:normal; color:#695c6e; display:inline;}
h3{ font:12px normal; color:#ffe2c7; display:inline;}
h4{ font-size:14px; color:#fe89d3; display:inline;}
h5{ font-size:12px; color:#fdb979; display:inline; font-weight:normal;}
#full{ margin:0px auto; width:980px; height:auto;}


#top{ height:123px; width:980px; float:left;}
	#top_a{ height:20px; width:980px; color:#878787; float:left; overflow:hidden; text-align:right; padding-top:10px;}
	#top_a a{ font-size:12px; color:#878787; text-decoration:none;}
	#top_b{ height:93px; width:980px; float:left; overflow:hidden;}
		#top_b_a{ height:93px; width:301px; float:left; overflow:hidden;}
		#top_b_b{ height:93px; width:679px; float:left; overflow:hidden;}
			#top_b_b_a{ height:53px; width:679px; float:left; overflow:hidden;}
				#top_b_b_a_a{ width:676px; height:14px; float:left; color:#eac6be; text-align:right; padding-top:8px; padding-right:3px;}
				#top_b_b_a_a a{ font-size:12px; color:#eac6be; text-decoration:none;}
				#top_b_b_a_b{ width:679px; height:31px; float:left; color:#eac6be;}
			#top_b_b_b{ height:40px; width:164px; float:left; overflow:hidden; background:url(../images/grzs_06.jpg) no-repeat;}
			#top_b_b_c{ height:40px; width:515px; float:left; overflow:hidden;}
				.button{ height:40px; width:515px; float:left; overflow:hidden; text-align:right;}
				.button li{ height:26px; width:103px; float:left; overflow:hidden; text-align:center; padding-top:14px;}
				.button li a{ font-size:14px; color:#eec4bc; text-decoration:none;}
				
				
				
				
#cont{ width:980px; height:auto; float:left; overflow:hidden; background-color:#29242b; background-image:url(../images/xxzs_01.jpg); background-repeat:no-repeat; margin-bottom:8px;}

	#cont_a{ width:980px; height:14px; float:left; overflow:hidden;}
	
	#cont_b{ width:980px; height:43px; float:left; overflow:hidden;}
		#cont_b_a{ width:577px; height:43px; float:left; overflow:hidden;}
		#cont_b_d{ width:132px; height:43px; float:left; overflow:hidden;}
		#cont_b_b{ width:132px; height:43px; float:left; overflow:hidden;}
		#cont_b_c{ width:139px; height:43px; float:left; overflow:hidden;}
		
	#cont_d{ width:980px; height:30px; float:left; overflow:hidden;}
		#cont_d_a{ width:548px; height:30px; float:left; overflow:hidden;}
		#cont_d_b{ width:432px; height:30px; float:left; overflow:hidden; text-align:left; font-size:12px; color:#f0037f;}
		#cont_d_b a{ font-size:12px; color:#f0037f;}
		
	#cont_c{ width:980px; height:200px; float:left; overflow:hidden;}
		#cont_c_a{ width:23px; height:200px; float:left;; overflow:hidden;}
		#cont_c_b{ width:298px; height:198px; float:left;; overflow:hidden; border:#8a3054 1px solid;}
		#cont_c_c{ width:23px; height:200px; float:left;; overflow:hidden;}
		#cont_c_d{ width:612px; height:198px; float:left;; overflow:hidden; border:#913157 1px solid; background-color:#332029;}
			.data_a{ width:604px; height:84px; float:left; overflow:hidden; border-bottom:#5b3041 1px dashed; margin-left:4px; margin-right:4px;}
				.data_a_a{ width:604px; height:15px; float:left; overflow:hidden;}
				.data_a_b{ width:604px; height:24px; float:left; overflow:hidden; text-align:center; font-size:14px; font-weight:bold; color:#eac6be; text-decoration:none;}
				.data_a_b a{ font-size:14px; font-weight:bold; color:#eac6be; text-decoration:none;}
				.data_a_c{ width:604px; height:18px; float:left; overflow:hidden; text-align:center; font-size:12px; color:#624854;}
				.data_a_d{ width:604px; height:27px; float:left; overflow:hidden; text-align:center; font-size:12px; color:#eec4bc;}
			.data_b{ width:612px; height:113px; float:left; overflow:hidden;}
				#data_b_a{ width:12px; height:113px; float:left; overflow:hidden;}
				#data_b_b{ width:600px; height:88px; float:left; overflow:hidden; padding-top:18px; padding-bottom:7px;}
					.data_b_b_a{ width:600px; height:88px; float:left; overflow:hidden;}
						.data{ width:600px; height:22px; float:left; overflow:hidden;}
						.data a{ font-size:12px; color:#b27894; text-decoration:none;}
		#cont_c_e{ width:20px; height:200px; float:left;; overflow:hidden;}
		
	#cont_e{ width:980px; height:14px; float:left; overflow:hidden;}
	
	#cont_f{ width:980px; height:52px; float:left; overflow:hidden;}
		#cont_f_a{ width:23px; height:52px; float:left; overflow:hidden;}
		#cont_f_b{ width:140px; height:52px; float:left; overflow:hidden; text-align:left;}
			#cont_f_b_a{ width:128px; height:25px; float:left; overflow:hidden; border:#6d4767 1px solid; background-color:#1f1b21; text-align:center; padding-top:10px;}
			#cont_f_b_a a{ font-size:14px; font-weight:bold; color:#e8047c; text-decoration:none;}
		#cont_f_c{ width:817px; height:52px; float:left; overflow:hidden; text-align:left;}
			.cont_f_c_a{ width:77px; height:22px; float:left; overflow:hidden; border:#6d4767 1px solid; background-color:#1f1b21; text-align:center; margin-top:6px; margin-right:5px; padding-top:7px;}
			.cont_f_c_a a{ font-size:14px; font-weight:bold; color:#e8047c; text-decoration:none;}
			
			
	#cont_g{ width:980px; height:auto; float:left; overflow:hidden;}
		.box{ width:980px; height:auto; float:left; overflow:hidden; padding-bottom:10px;}
			.box_a{ width:943px; height:11px; float:left; overflow:hidden; padding-left:18px; padding-right:19px;}
				.line{ width:943px; height:10px; float:left; overflow:hidden; border-top:#563242 1px dashed;}
			.box_b{ width:980px; height:auto; float:left; overflow:hidden;}
				.box_b_a{ width:200px; height:auto; float:left; overflow:hidden; padding-left:23px;}
					.box_b_a_a{ width:auto; height:auto; float:left; overflow:hidden; border:#6d4767 1px solid; margin:0px auto;}
					.box_b_a_a img{ max-width: 198px; width:expression(this.width > 198 ? "198px" : this.width); overflow:hidden;}
				.box_b_b{ width:747px; height:auto; float:left; overflow:hidden; padding-left:10px;}
					.box_b_b_a{ width:747px; height:34px; float:left; overflow:hidden;}
						.box_b_b_a_a{ width:341px; height:20px; float:left; overflow:hidden; margin-right:13px; margin-bottom:6px; border:#724a6c 1px solid; background-color:#291425; font-size:14px; color:#fdb97a; padding-left:6px; padding-top:6px;}
						.box_b_b_a_b{ width:116px; height:34px; float:left; overflow:hidden;}
						.box_b_b_a_c{ width:130px; height:26px; float:left; overflow:hidden;}
						.box_b_b_a_d{ width:139px; height:26px; float:left; overflow:hidden;}
					.box_b_b_b{ width:747px; height:122px; float:left; overflow:hidden;}
						.box_b_b_b_a{ width:713px; height:108px; float:left; overflow:hidden; border:#724a6c 1px solid; background-color:#291425; text-align:left; font-size:14px; color:#fdb97a; padding:6px; line-height:20px;}
			.box_c{ width:980px; height:10px; float:left; overflow:hidden;}

	
	#cont_h{ width:943px; height:40px; float:left; overflow:hidden; padding-left:18px; padding-right:19px;}
		#cont_h_a{ width:943px; height:39px; float:left; overflow:hidden; border-top:#5b3041 1px dashed;}
		
		
		
