

body{ background: #1b141c url(../images/grzs_01.jpg) no-repeat top; font: "ו"; font-size:12px;}
*{ padding:0px; border:0px; margin:0px;}
li{ list-style-type:none;}
a:hover { text-decoration:none; }
h1{ font-size:14px; color:#bc5b31; display:inline; }
h2{ font-size:12px; font-weight:normal; color:#695c6e; display:inline;}
h3{ font-size:12px; font-weight:normal; color:#fdb979; display:inline;}
h4{ font:14px; color:#fe89d3; display:inline;}
h5{ font-size:12px; color:#fdb979; display:inline;}
h6{ font-size:12px; font-weight:normal; color:#bc5b31; display:inline; }
#full{ margin:0px auto; width:980px; height:1140px;}


					.box_d{ width:923px; height:auto; float:left; overflow:hidden; font-size:14px; color:#eec4bc; line-height:30px; margin-right:6px;}

				
				
#cont{ width:980px; height:auto; float:left; overflow:hidden; background:url(../images/jlbck_03.jpg) no-repeat; background-color:#29242b; margin-bottom:10px;}
	#cont_a{ width:980px; height:85px; float:left; overflow:hidden;}
		#cont_a_a{ width:980px; height:34px; float:left; overflow:hidden;}
		#cont_a_b{ width:980px; height:51px; float:left; overflow:hidden;}
			#cont_a_b_a{ width:253px; height:51px; float:left; overflow:hidden;}
			#cont_a_b_b{ width:582px; height:29px; float:left; overflow:hidden; font-size:12px; color:#bc5b31; padding-top:22px;}
			#cont_a_b_c{ width:145px; height:51px; float:left; overflow:hidden;}
		
	
	#cont_b{ width:980px; height:auto; float:left; overflow:hidden;}
		#cont_b_a{ width:950px; height:28px; float:left; overflow:hidden; padding-left:14px; padding-right:16px;}
			#cont_b_a_a{ width:939px; height:21px; float:left; overflow:hidden; background:url(../images/jlbck_01.jpg) no-repeat; font-size:14px; font-weight:bold; color:#fe89d3; padding-left:11px; padding-top:7px;}
			
			
		#cont_b_b{ width:950px; height:auto; float:left; overflow:hidden; margin-left:7px; margin-right:16px; background-color:#1e1b1f;}
			.box{ width:929px; height:auto; float:left; overflow:hidden; padding-left:11px; padding-right:10px;}
				.box li{ width:897px; height:auto; float:left; overflow:hidden; border-bottom:#502d3c 1px dashed; padding-left:12px; padding-right:20px; padding-bottom:10px;}
					.box_a{ width:929px; height:19px; float:left; overflow:hidden;}
					.box_b{ width:929px; height:23px; float:left; overflow:hidden;}
					.box_c{ width:929px; height:37px; float:left; overflow:hidden; font-size:12px; color:#666666;}
					.box_c a{ font-size:12px; color:#bc5b31;}
					.box_c a:hover{ text-decoration:underline;}
					.box_e{ width:417px; height:74px; float:left; overflow:hidden; margin-right:492px; margin-bottom:13px; border:#332e35 1px solid; background-color:#29242b; font-size:12px; color:#666666; line-height:24px; padding-left:8px; padding-right:10px;}
					
			#cont_b_b_a{ width:950px; height:143px; float:left; overflow:hidden;}
				#cont_b_b_a_a{ width:950px; height:108px; float:left; overflow:hidden;}
				#cont_b_b_a_b{ width:950px; height:35px; float:left; overflow:hidden;}
					#page{ width:350px; height:20px; overflow:hidden; margin:0 auto;}

	
	
	#cont_c{ width:947px; height:372px; float:left; overflow:hidden; padding-left:16px; padding-right:17px;}
		#cont_c_a{ width:947px; height:36px; float:left; overflow:hidden;}
			#cont_c_a_a{ width:304px; height:23px; float:left; overflow:hidden; font-size:14px; font-weight:bold; color:#bec1d9; padding-top:13px;}
			#cont_c_a_b{ width:393px; height:19px; float:left; overflow:hidden; font-size:12px; color:#4b4e60; padding-top:17px;}
		#cont_c_b{ width:947px; height:288px; float:left; overflow:hidden;}
			#cont_c_b_a{ width:945px; height:276px; float:left; overflow:hidden; border:#4c5168 1px solid; background-color:#151725;}
				.cont_c_b_a{ width:942px; height:277px; float:left; overflow:hidden; background-color:#151725; color:#eec4bc; padding-left:3px; padding-top:3px;}
		#cont_c_c{ width:947px; height:48px; float:left; overflow:hidden; text-align:center;}
			#cont_c_c_a{ width:119px; height:28px; overflow:hidden;}

			
			
			
			
	