

body{ background: #1b141c url(../images/grzs_01.jpg) no-repeat top; font-family:"ו"; font-size:12px;}
*{ padding:0px; border:0px; margin:0px;}
li{ list-style-type:none;}
a:link{ text-decoration:none;}
a:hover{ text-decoration:none;}
a:visited{ text-decoration:none;}
a:active{ hide-focus: expression(this.hideFocus=true); outline: none;}
h1{ font-size:12px; font-weight:normal; color:#fe89d3; text-decoration:underline; display:inline;}
h2{ font-size:12px; font-weight:normal; color:#666666; display:inline;}
h3{ font-size:12px; font-weight:normal; color:#ffffff; display:inline;}
h4{ font-size:12px; font-weight:normal; color:#eec4bc; display:inline;}
h5{ font-size:12px; color:#f0037f; display:inline;}
h6{ font-size:12px; font-weight:normal; color:#949494; display:inline;}
#full{ margin:0px auto; width:980px; height:auto;}


#top{ height:123px; width:980px; float:left;}
	#top_a{ height:20px; width:980px; color:#878787; float:left; overflow:hidden; text-align:right; padding-top:10px;}
	#top_a a{ font-size:12px; color:#878787; text-decoration:none;}
	#top_b{ height:93px; width:980px; float:left; overflow:hidden;}
		#top_b_a{ width:404px; height:93px; float:left; overflow:hidden;}
		#top_b_b{ width:571px; height:93px; float:left; overflow:hidden; padding-left:5px;}
			#top_b_b_a{ width:558px; height:18px; float:left; overflow:hidden; color:#eec4bc; text-align:right; padding-top:8px; padding-right:13px;}
			#top_b_b_a a{ font-size:12px; color:#eec4bc; text-decoration:none;}
			#top_b_b_b{ width:571px; height:67px; float:left;}
					
					
					

#cont{ width:980px; height:2092px; float:left; overflow:hidden; margin-bottom:10px;}
	#cont_a{ width:980px; height:400px; float:left; overflow:hidden; margin-bottom:10px; background:url(../images/mdsy_03.jpg) no-repeat left;}
		#cont_a_top{ width:980px; height:400px; float:left; overflow:hidden; background:url(../images/mdsy_04.jpg) no-repeat top;}
			#cont_a_right{ width:978px; height:399px; float:left; overflow:hidden; background:url(../images/mdsy_05.jpg) no-repeat right; padding:1px 1px 0px 1px;}
			
			
	#cont_b{ width:980px; height:743px; float:left; overflow:hidden; margin-bottom:13px;}
		#cont_b_l{ width:670px; height:743px; float:left; overflow:hidden; margin-right:10px;}
			#cont_b_a{ width:399px; height:252px; float:left; overflow:hidden; margin-right:10px;}
			#cont_b_b{ width:261px; height:252px; float:left; overflow:hidden;}
			#cont_b_c{ width:670px; height:481px; float:left; overflow:hidden; background:url(../images/mdsy_20.jpg) no-repeat; margin-top:10px;}
				#cont_b_c_a{ width:124px; height:68px; float:left; overflow:hidden; padding-left:546px; padding-top:11px;}
				#cont_b_c_a a{ font-size:14px; font-weight:bold; color:#f28533;}
				#cont_b_c_b{ width:656px; height:372px; float:left; overflow:hidden; padding-left:14px;}
					#cont_b_c_b ul{ width:656px; height:372px; float:left; overflow:hidden;}
						#cont_b_c_b ul li{ width:150px; height:185px; float:left; overflow:hidden; margin-right:14px;}
							.box_a{ width:144px; height:107px; float:left; overflow:hidden; background:url(../images/mdsy_22.jpg) no-repeat; padding:24px 3px 3px 3px;}
							.box_b{ width:150px; height:19px; float:left; overflow:hidden; padding-top:3px; font-size:14px; font-weight:bold; color:#eec4bc; white-space:nowrap;}
							.box_c{ width:150px; height:29px; float:left; overflow:hidden; color:#f0037f;}
				#cont_b_c_c{ width:670px; height:30px; float:left; overflow:hidden; font-size:12px; color:#fec4e9; text-align:center;}
				#cont_b_c_c a{ font-size:14px; color:#fe89d3; font-weight:bold; text-decoration:underline;}
					
		#cont_b_r{ width:300px; height:743px; float:left; overflow:hidden;}
			#cont_b_d{ width:300px; height:374px; float:left; overflow:hidden; margin-bottom:10px; background:url(../images/mdsy_24.jpg) no-repeat;}
				#cont_b_d_a{ width:300px; height:74px; float:left; overflow:hidden;}
				#cont_b_d_b{ width:290px; height:90px; float:left; overflow:hidden; padding-left:10px;}
					#cont_b_d_b_a{ width:118px; height:88px; float:left; overflow:hidden; border:#753c4f 1px solid;}
					#cont_b_d_b_b{ width:163px; height:90px; float:left; overflow:hidden; padding-left:7px;}
						#cont_b_d_b_b_a{ width:163px; height:17px; float:left; overflow:hidden; white-space:nowrap;}
						#cont_b_d_b_b_b{ width:163px; height:19px; float:left; overflow:hidden; color:#ffffff; white-space:nowrap;}
						#cont_b_d_b_b_c{ width:163px; height:40px; float:left; overflow:hidden; color:#6e6e6e; line-height:19px;}
						#cont_b_d_b_b_d{ width:163px; height:14px; float:left; overflow:hidden; color:#ffbbe6; white-space:nowrap;}
				#cont_b_d_c{ width:300px; height:25px; float:left; overflow:hidden;}
				#cont_b_d_d{ width:300px; height:165px; float:left; overflow:hidden;}
					#cont_b_d_d ul{ width:290px; height:165px; float:left; overflow:hidden; padding-left:10px;}
						#cont_b_d_d ul li{ width:290px; height:55px; float:left; overflow:hidden;}
							.cont_b_d_d_a{ width:290px; height:19px; float:left; overflow:hidden; color:#fdb979; white-space:nowrap;}
							.cont_b_d_d_a a{ color:#fdb979; text-decoration:underline;}
							.cont_b_d_d_c{ width:290px; height:36px; float:left; overflow:hidden; color:#ffbbe6;}
				#cont_b_d_e{ width:118px; height:20px; float:left; overflow:hidden; color:#ffbbe6; padding-left:182px;}
			#cont_b_e{ width:300px; height:359px; float:left; overflow:hidden; background:url(../images/mdsy_16.jpg) no-repeat left;}
				#cont_b_e_top{ width:300px; height:359px; float:left; overflow:hidden; background:url(../images/mdsy_17.jpg) no-repeat top;}
					#cont_b_e_right{ width:298px; height:358px; float:left; overflow:hidden; background:url(../images/mdsy_18.jpg) no-repeat right; padding:1px 1px 0px 1px;}
	
	#cont_c{ width:978px; height:580px; float:left; overflow:hidden; margin-bottom:10px; border:#7e3f52 1px solid; background:url(../images/mdsy_26.jpg) no-repeat top; background-color:#302330;}
		#cont_c_a{ width:121px; height:36px; float:left; overflow:hidden; padding-left:857px; padding-top:13px; font-size:14px; font-weight:bold; color:#f28533;}
		#cont_c_a a{ font-size:14px; font-weight:bold; color:#f28533; text-decoration:underline;}
		#cont_c_b{ width:960px; height:498px; float:left; overflow:hidden; padding-left:14px; padding-right:4px;}
			#cont_c_b ul{ width:960px; height:498px; float:left; overflow:hidden;}
				#cont_c_b ul li{ width:150px; height:166px; float:left; overflow:hidden; margin-right:10px;}
					.box_d{ width:148px; height:110px; float:left; overflow:hidden; border:#774f55 1px solid;}
					.box_e{ width:150px; height:16px; float:left; overflow:hidden; text-align:center; padding-top:6px; white-space:nowrap;}
					.box_f{ width:150px; height:32px; float:left; overflow:hidden; text-align:center; color:#f0037f;}
		#cont_c_c{ width:978px; height:33px; float:left; overflow:hidden; color:#fec4e9; text-align:center;}
		#cont_c_c a{ font-size:14px; color:#fe89d3; font-weight:bold; text-decoration:underline;}
	
	
	#cont_d{ width:980px; height:334px; float:left; overflow:hidden;}
		#cont_d_a{ width:330px; height:334px; float:left; overflow:hidden; margin-right:10px; background:url(../images/mdsy_28.jpg) no-repeat;}
			#cont_d_a_a{ width:330px; height:58px; float:left; overflow:hidden;}
			#cont_d_a_b{ width:310px; height:183px; float:left; overflow:hidden; padding-left:15px; padding-right:5px;}
				#cont_d_a_b ul{ width:310px; height:183px; float:left; overflow:hidden;}
					#cont_d_a_b ul li{ width:50px; height:50px; float:left; overflow:hidden; margin-right:10px; margin-bottom:9px; padding:1px; background:url(../images/mdsy_29.jpg) no-repeat;}
			#cont_d_a_c{ width:330px; height:58px; float:left; overflow:hidden;}
				#cont_d_a_c_a{ width:152px; height:52px; float:left; overflow:hidden; padding-left:15px; padding-top:6px;}
				#cont_d_a_c_b{ width:163px; height:58px; float:left; overflow:hidden;}
					#cont_d_a_c_b_a{ width:163px; height:22px; float:left; overflow:hidden; color:#bbb0bc; padding-top:8px;}
					#cont_d_a_c_b_b{ width:163px; height:28px; float:left; overflow:hidden; color:#bbb0bc;}
			#cont_d_a_d{ width:315px; height:35px; float:left; overflow:hidden; padding-left:15px; color:#f0afcf;}
		#cont_d_b{ width:330px; height:334px; float:left; overflow:hidden; margin-right:10px; background:url(../images/mdsy_32.jpg) no-repeat;}
			#cont_d_b_a{ width:330px; height:88px; float:left; overflow:hidden;}
			#cont_d_b_b{ width:330px; height:208px; float:left; overflow:hidden;}
				#cont_d_b_b ul li{ width:314px; height:26px; float:left; overflow:hidden; padding-left:11px; padding-right:5px; color:#fe89d3; white-space:nowrap;}
				#cont_d_b_b ul li a{ color:#ffffff;}
			#cont_d_b_c{ width:138px; height:30px; float:left; overflow:hidden; color:#f0afcf; padding-left:192px; padding-top:8px;}
		#cont_d_c{ width:300px; height:334px; float:left; overflow:hidden; background:url(../images/mdsy_33.jpg) no-repeat;}
			#cont_d_c_a{ width:300px; height:312px; float:left; overflow:hidden;}
			#cont_d_c_b{ width:122px; height:22px; float:left; overflow:hidden; color:#f0afcf; padding-left:178px;}
					
	
