

body{ background: #1b141c url(../images/grzs_01.jpg) no-repeat top; font-family:"ו"; font-size:12px;}
*{ padding:0px; border:0px; margin:0px;}
li{ list-style-type:none;}
a:link{ text-decoration:none;}
a:hover{ text-decoration:none;}
a:visited{ text-decoration:none;}
a:active{ hide-focus: expression(this.hideFocus=true); outline: none;}
h1{ font-size:14px; color:#f28533; display:inline;}
h2{ font-size:12px; color:#edc5bd; display:inline;}
h3{ font-size:12px; font-weight:normal; color:#edc5bd; display:inline;}
h4{ font-size:12px; font-weight:normal; color:#eec4bc; display:inline;}
h5{ font-size:12px; font-weight:normal; color:#666666; display:inline;}
#full{ margin:0px auto; width:980px; height:auto;}


#top{ height:123px; width:980px; float:left;}
	#top_a{ height:20px; width:980px; color:#878787; float:left; overflow:hidden; text-align:right; padding-top:10px;}
	#top_a a{ font-size:12px; color:#878787; text-decoration:none;}
	#top_b{ height:93px; width:980px; float:left; overflow:hidden;}
		#top_b_a{ width:404px; height:93px; float:left; overflow:hidden;}
		#top_b_b{ width:571px; height:93px; float:left; overflow:hidden; padding-left:5px;}
			#top_b_b_a{ width:558px; height:18px; float:left; overflow:hidden; color:#eec4bc; text-align:right; padding-top:8px; padding-right:13px;}
			#top_b_b_a a{ font-size:12px; color:#eec4bc; text-decoration:none;}
			#top_b_b_b{ width:571px; height:67px; float:left;}
					
			
			
			
#cont{ width:980px; height:1144px; float:left; background:url(../images/mdzs_03.jpg) no-repeat; margin-bottom:10px;}
	#cont_a{ width:125px; height:60px; float:left; padding-left:855px; padding-top:11px; font-size:14px; color:#f28533; font-weight:bold;}
	#cont_a a{ color:#f28533;}
	#cont_a a:hover{ text-decoration:underline;}
	#cont_b{ width:980px; height:35px; float:left;}
		#cont_b_a{ width:214px; height:35px; float:left; padding-left:32px;}
		#cont_b_a a{ color:#edc5bd;}
		#cont_b_a a:hover{ text-decoration:underline;}
		#cont_b_b{ width:208px; height:35px; float:left;}
		#cont_b_b a{ color:#edc5bd;}
		#cont_b_b a:hover{ text-decoration:underline;}
		#cont_b_c{ width:526px; height:35px; float:left;}
		#cont_b_c a{ color:#edc5bd;}
		#cont_b_c a:hover{ text-decoration:underline;}
	#cont_c{ width:960px; height:996px; float:left; padding-left:15px; padding-right:5px;}
		#cont_c ul{ width:960px; height:996px; float:left;}
			#cont_c ul li{ width:150px; height:166px; float:left; margin-right:10px;}
				.box_a{ width:148px; height:110px; float:left; border:#774f55 1px solid;}
				.box_b{ width:150px; height:16px; float:left; text-align:center; white-space:nowrap; padding-top:6px;}
				.box_b a{ color:#eec4bc;}
				.box_b a:hover{ text-decoration:underline;}
				.box_c{ width:150px; height:33px; float:left; color:#f0037f; text-align:center;}
		
	
	#cont_d{ width:980px; height:20px; float:left; text-align:center; padding-top:9px; padding-bottom:13px;}
		#botton{ width:auto; height:20px; margin:0 auto;}
	
	
